---
http_interactions:
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/ReadObject/readReceivable?primaryKey=5001
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sourceOrganizationCompany":null,"tags":null,"ioID":null,"templateLine":0,"dateTimeSetup":null,"unpaidAmount":2518.99,"discountApplied":0.0,"availRemainingDeposit":0,"id":5001,"description":"Event
        Brochure","status":"0","customer":"GRELEA","job":"10009","jobPart":"01","notes":null,"salesCategory":1,"altCurrencyRate":1.0000000000,"invoiceAmount":2518.990000,"taxAmount":0.000000,"altCurrency":"USD","glRegisterNumber":"AR20121","invoiceDate":"2012-06-13","salutation":0,"taxableCode":1,"glLocation":0,"dueDate":"2012-07-13","glAccountingPeriod":5019,"poNumber":null,"contactFirstName":"Sid","contactLastName":"Jones","altCurrencyRateSourceNote":null,"altCurrencyRateSource":null,"legalEntity":0,"customerType":1,"targetSell":2399.040000,"commissionBase":2518.990000,"chargeBackAccount":null,"commissionRate":0.0400,"taxBase":2518.990000,"reversal":0,"lastDunningDate":null,"debitCreditReason":0,"formNumber":null,"reversalOf":0,"amountDue":2518.990000,"datePaidOff":null,"orginalBatchId":5001,"commissionAmount":92.270000,"discountBase":0,"invoiceNumber":"1001","depositType":0,"discountBaseForced":false,"businessUnit":null,"freightAmount":0.000000,"expectedPaymentDate":"2012-07-13","originalId":0,"pay":false,"originalAmount":2518.990000,"taxRate13Amount":0,"taxRate7Amount":0,"taxRate23Amount":0,"taxRate1Amount":0,"taxRate10Amount":0,"taxRate4Amount":0,"taxRate20Amount":0,"taxRate9Amount":0,"taxRate25Amount":0,"taxRate15Amount":0,"taxRate12Amount":0,"taxRate22Amount":0,"taxRate6Amount":0,"taxRate17Amount":0,"taxRate2Amount":0,"taxRate8Amount":0,"taxRate24Amount":0,"taxRate3Amount":0,"taxRate14Amount":0,"taxRate16Amount":0,"taxRate19Amount":0,"pnref":null,"dateCommissionLost":null,"dateCommissionPaid":null,"taxRate5Amount":0,"taxRate11Amount":0,"taxRate21Amount":0,"taxRate18Amount":0,"discountAvailable":0.000000,"overallBillingJournalEntry":0,"overallCurrencyExchangeJournalEntry":0,"collectionNotes":null,"sendDunningLetter":true,"depositPayment":0,"lastDunningAgingCategory":null,"discountDate":"2012-06-13","applianceId":null,"depositCheckNumber":null,"nextDunningAgingCategory":null,"agingCategory":null,"applyAmount":0}'
  recorded_at: Tue, 29 Jul 2025 15:05:30 GMT
recorded_with: VCR 6.3.1
