---
http_interactions:
- request:
    method: get
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/FindObjects/find?type=GLAccountingPeriod&xpath=@glPeriodStatus%20=%20%27O%27%20and%20@fiscalYear%20=%202025
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '["5202","5203","5204","5205","5206","5207","5208","5209","5210","5211","5212","5213","5214"]'
  recorded_at: Tue, 05 Aug 2025 18:16:47 GMT
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/ReadObject/readGLAccountingPeriod?primaryKey=5202
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sourceOrganizationCompany":null,"tags":null,"ioID":null,"templateLine":0,"periodString":"01","id":5202,"month":null,"startDate":"2025-01-01","notes":null,"glPeriodStatus":"O","closingPeriod":false,"endDate":"2025-01-31","periodTitle":null,"mustRunTBPeriod":false,"accountingPeriod":1,"fiscalYear":2025}'
  recorded_at: Tue, 05 Aug 2025 18:16:47 GMT
[...]
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/CreateObject/createPaymentBatch
    body:
      encoding: UTF-8
      string: '{"date":"2025-01-02","description":"Testing batch creation","glAccountingPeriod":5202}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sourceOrganizationCompany":null,"tags":null,"ioID":null,"templateLine":0,"balanceRemaining":0,"paymentTotal":0,"paymentCount":0,"posted":false,"id":5461,"date":"2025-01-01","description":"Testing
        batch creation","status":"0","glRegisterNumber":null,"balanced":false,"manual":true,"glAccountingPeriod":5202,"enteredBy":"RadStack","approved":false,"postingMethod":"M","postedDate":null,"originalBatchId":0,"reversal":0,"bankAccount":1,"paymentReversalNote":null,"legacyBatch":false}'
  recorded_at: Tue, 05 Aug 2025 18:16:49 GMT
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/ReadObject/readPaymentBatch?primaryKey=5461
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sourceOrganizationCompany":null,"tags":null,"ioID":null,"templateLine":0,"balanceRemaining":0,"paymentTotal":0,"paymentCount":0,"posted":false,"id":5461,"date":"2025-01-01","description":"Testing
        batch creation","status":"0","glRegisterNumber":null,"balanced":false,"manual":true,"glAccountingPeriod":5202,"enteredBy":"RadStack","approved":false,"postingMethod":"M","postedDate":null,"originalBatchId":0,"reversal":0,"bankAccount":1,"paymentReversalNote":null,"legacyBatch":false}'
  recorded_at: Tue, 05 Aug 2025 18:16:50 GMT
recorded_with: VCR 6.3.1
