.panel.panel-default
  = render "layouts/panel_header", no_edit_button: true, no_new_button: true, no_delete_button: true
  .panel-body
    .row
      .col-md-6
        %h3 Permissions
        %table.table.table-striped.table-bordered
          %tr
            %th Name
            %th Allowed

          - normalize_name(humanized_permission_fields).each do |name, permission|
            %tr
              %td= name
              %td{class: @security_group.send(permission) ? "fa fa-check green-check" : "fa fa-times red-x"}
      .col-md-6
        -members = @security_group.members.active.by_name
        %h3 Members In Group (#{members.count})
        %table.table.table-striped.table-bordered
          %tr
            %th Name

          -members.each do |member|
            %tr
              %td= secured_link(member)
