---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      twilio-request-id:
      - RQ8dda77aee4aa77a3d2d95c2730b5f6d7
      twilio-request-duration:
      - '0.043'
      twilio-concurrent-requests:
      - '1'
      x-shenanigans:
      - none
      x-home-region:
      - us1
      x-api-domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +15005550009, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Sun, 19 Feb 2023 13:13:04 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      twilio-request-id:
      - RQ61d70855df3345846218346d1c7637bd
      twilio-request-duration:
      - '0.041'
      twilio-concurrent-requests:
      - '1'
      x-shenanigans:
      - none
      x-home-region:
      - us1
      x-api-domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +15005550009, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Sun, 19 Feb 2023 13:13:05 GMT
recorded_with: VCR 6.1.0
