---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B16187222169
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQe1447b6dbb2402b6d4deb655acf8738e
      Twilio-Request-Duration:
      - '62'
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
    body:
      encoding: UTF-8
      string: '{"account_sid": "ACaae98776bde4ed53d0fb1dfcc262558e", "api_version":
        "2010-04-01", "body": "test message - To no longer receive text messages,
        text STOP", "date_created": "Thu, 16 May 2024 16:39:18 +0000", "date_sent":
        null, "date_updated": "Thu, 16 May 2024 16:39:18 +0000", "direction": "outbound-api",
        "error_code": null, "error_message": null, "from": "+15005550006", "messaging_service_sid":
        null, "num_media": "0", "num_segments": "1", "price": null, "price_unit":
        "USD", "sid": "SMe1447b6dbb2402b6d4deb655acf8738e", "status": "queued", "subresource_uris":
        {"media": "/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages/SMe1447b6dbb2402b6d4deb655acf8738e/Media.json"},
        "to": "+16187222169", "uri": "/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages/SMe1447b6dbb2402b6d4deb655acf8738e.json"}'
  recorded_at: Thu, 16 May 2024 16:39:18 GMT
recorded_with: VCR 6.2.0
