---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21614'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ05e16f0807db2da98c97867d960c55dc
      Twilio-Request-Duration:
      - '0.074'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":21614,"message":"''To'' number: +1500555XXXX, is not a valid
        mobile number","more_info":"https://www.twilio.com/docs/errors/21614","status":400}'
  recorded_at: Thu, 13 Mar 2025 16:49:04 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21614'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ5937f5d37abf1b7a75e79c43bc64ff15
      Twilio-Request-Duration:
      - '0.048'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":21614,"message":"''To'' number: +1500555XXXX, is not a valid
        mobile number","more_info":"https://www.twilio.com/docs/errors/21614","status":400}'
  recorded_at: Thu, 13 Mar 2025 16:49:05 GMT
recorded_with: VCR 6.3.1
