---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '20003'
      Twilio-Request-Id:
      - RQ44724284d845002b870b010f184db55d
      Twilio-Request-Duration:
      - '0.019'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Fri, 14 Mar 2025 11:50:56 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '20003'
      Twilio-Request-Id:
      - RQ0a3fe4cb9d27a191c465bea45f541928
      Twilio-Request-Duration:
      - '0.007'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Fri, 14 Mar 2025 11:51:26 GMT
recorded_with: VCR 6.3.1
