---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ123845bd41c9d0030fe6d9c6e17940f8
      Twilio-Request-Duration:
      - '0.062'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +15005550009, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Wed, 21 Jun 2023 10:39:55 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ2c01db3b6ca17ef616ddaf73603dd314
      Twilio-Request-Duration:
      - '0.036'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +15005550009, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Wed, 21 Jun 2023 10:39:57 GMT
recorded_with: VCR 6.1.0
