%table.table.table-striped.table-bordered
  %tr
    %th Name
    - if show_actions
      %th.actions Actions

  - security_roles.each do |security_role|
    %tr
      %td= secured_link security_role
      - if show_actions
        %td
          - if policy(security_role).update?
            = link_to icon(:pencil, 'Edit'),
                      edit_security_role_path(security_role),
                      class: 'btn btn-sm btn-secondary btn-block'

          - if policy(security_role).destroy?
            = link_to icon(:times, 'Delete'),
                      security_role,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm btn-block'
