%table.table.table-striped.table-bordered
  %tr
    %th Name
    -if show_actions
      %th Actions

  - security_roles.each do |security_role|
    %tr
      %td= secured_link security_role
      -if show_actions
        %td
          -if current_user.can_update?(security_role)
            = link_to icon(:pencil, 'Edit'), edit_security_role_path(security_role), class: 'btn btn-sm btn-secondary btn-block'
          -if current_user.can_delete?(security_role)
            = link_to icon(:times, 'Delete'), security_role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm btn-block'
