.card
  = render 'layouts/card_header', action_name: 'custom', title: 'Permissions', icon: 'fa-list'
  .card-body
    %table.table.table-striped.table-bordered
      %tr
        %th Category
        %th Permissions
      - permission_categories.each do |permission_category|
        %tr
          %td= permission_category.first
          %td
            - permission_category.last.each do |permission|
              .d-flex.align-items-center.mb-2
                - if permission[:value]
                  %i.fa.fa-check.text-success.me-2
                - else
                  %i.fa.fa-times.text-danger.me-2
                = link_to permission[:permission_label],
                          permission_security_roles_path(permission_name: permission[:permission])

                = permission_tooltip_content(permission[:tooltip])
