.card
  = render 'layouts/card_header', action_name: 'custom', title: 'Permissions', icon: 'fa-list'
  .card-body
    %table.table.table-striped.table-bordered
      %tr
        %th Category
        %th Permissions
      - permission_categories.each do |permission_category|
        %tr
          %td= permission_category.first
          %td
            - permission_category.last.each do |permission|
              .row.col-lg-12
                - if permission[:value]
                  .fa.fa-check.green-check.align-self-center
                - else
                  .fa.fa-times.red-x.align-self-center
                &nbsp
                = link_to permission[:permission_label],
                          permission_security_roles_path(permission_name: permission[:permission])

                = permission_tooltip_content(permission[:tooltip])
