.panel.panel-default
  = render 'layouts/panel_header'
  .panel-body
    = paginate @security_roles
    = render 'security_roles/index', security_roles: @security_roles, show_actions: current_member.can_update?(SecurityRole) || current_member.can_delete?(SecurityRole)
    = paginate @security_roles
