.card
  = render 'layouts/card_header',
           title: safe_join(['Recipient for ', link_to('Contact Log', @contact_log_recipient.contact_log)]),
           no_index_button: true

  .card-body
    .row
      .col-lg-6
        = render 'layouts/show_data_columns',
                 data: contact_log_show_data(@contact_log_recipient.contact_log),
                 resource: @contact_log_recipient.contact_log,
                 force_single_column: true
      .col-lg-6
        = render 'layouts/show_data_columns',
                 data: contact_log_recipient_show_data(@contact_log_recipient),
                 resource: @contact_log_recipient,
                 force_single_column: true
