-# This partial is not used by the index template but is required by haml-rails 3.0
= render 'layouts/show_data_columns', data: %i[<%= attributes_names.map { |name| "#{name}" }.join(' ') %>], resource: <%= singular_table_name %>
