- if policy(LLMChat).new?
  .offcanvas.offcanvas-end.w-50#basic-question-modal{ 'aria-hidden' => 'true',
                                                      'aria-labelledby' => 'basic-question-modal-label',
                                                      :tabindex => '-1' }
    .offcanvas-header
      %h1.offcanvas-title.fs-5#basic-question-modal-label Ask Question?
      %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'offcanvas', :type => 'button' }
    .offcanvas-body.bg-secondary.bg-opacity-25.p-0.d-flex.flex-column
      = render 'llm_chats/chat_form', llm_chat: LLMChat.basic_chat(current_user, chat_scope)
