= render 'llm_chats/chat_message_right', user_name: @llm_chat.assistant_name,
                                         message: 'Hello, what can I help you with?',
                                         chat_date: format_datetime(DateTime.now)
