%li.chat-right.justify-content-end.mb-3.d-flex.w-100#loading-message
  .chat-text.shadow
    .spinner-border.spinner-border-sm.me-2{ role: 'status' }
    Thinking...
  .chat-avatar.me-3
    %i.fa.fa-user-tie.shadow
    .chat-name.m-2
      = llm_chat.assistant_name
      %br
      %strong= format_time(DateTime.current)
