default: &default
  app_name: Demo Foo
  use_avatar: true
  validate_user_domains: true
  switch_languages: true
  disable_sign_up: false
  disable_invite: false
  manually_create_users: false
  pending_users: true
  secure_sentry: true
  external_users: true
  validate_external_email_domain: true
  app_logo_includes_name: true
  impersonate: true
  start_route: onboardings
  user_clients: true
  user_profiles: true
  canadian_addresses: false
  show_help_menu: true
  saved_search_filters_enabled: true
  legal_docs: true
  twilio_verify_all_users: true
  twilio_verify_remember_device_days: 7
  storage_config_override: false
  database_config_override: false
  require_mobile_phone: false
  timeout_hours: 6
  force_marketing_site: false
  allow_marketing_site: false
  allow_crawling: false
  always_crawl: false
  crawlable_domains: []
  procfile_override: false
  last_first_user: false
  timezone_detection: true
  portal: false

  rad_assistant_system_tools: []
  system_usage_models:
    -
      - Division
      - status_pending
      - Pending Divisions
    -
      - Division
      - status_active
      - Active Divisions
    -
      - Division
      - status_inactive
      - Inactive Divisions
    - User

  duplicates:
    - :name: Attorney
    - :name: User

  restricted_audit_attributes:
    -
      model: Division
      attribute: hourly_rate

  additional_user_params: []
  additional_user_profile_params: []
  additional_company_params: []

  global_validity_days: 3
  global_validity_timeout_hours: 3
  global_validity_exclude: []
  global_validity_include: []
  global_validity_supress: []

  global_search_scopes:
    -
      name: user_name
      model: User
      description: Search user by name
      columns:
        - email
      methods:
        - user_status
      query_where: last_name || ', ' || first_name ilike :search
      query_order: last_name ASC, first_name ASC, created_at DESC
    -
      name: user_email
      model: User
      description: Search user by email
      columns:
        - email
      query_where: email ilike :search
    -
      name: division_name
      model: Division
      description: Search division by name
      columns:
        - name
      query_where: name ilike :search
      query_order: name
    -
      name: user_by_division_name
      model: User
      description: Search user by division name
      joins: JOIN divisions on divisions.owner_id = users.id
      query_where: divisions.name ilike :search
      super_search_exclude: true
    -
      name: category_name
      model: Category
      description: Search category by name
      query_where: name ilike :search
      query_order: name
      super_search_exclude: true
      hide_global_nav: true
      columns:
        - name
    -
      name: attorney_name
      model: Attorney
      description: Search attorney by name
      min_length: 3
      columns:
        - company_name
        - phone_number
      query_where: last_name || ', ' || first_name ilike :search OR first_name || ' ' || last_name ilike :search OR company_name ilike :search
      query_order: last_name ASC, first_name ASC, created_at DESC

development:
  <<: *default

  host_name: localhost:3000
  twilio_verify_enabled: false

test:
  <<: *default

  host_name: localhost:3000
  twilio_verify_enabled: true
  pace_api:
    host: 'radstackmis.myprintdesk.net'
