%p= "The Global Validity task took #{@total_time} to complete, which is beyond the configured timeout."
- @run_stats.each do |item|
  %p
    = Time.at(item[:run_seconds]).utc.strftime('%H:%M:%S')
    -
    = item[:item_name]
