.card
  = render 'layouts/card_header', additional_actions: attorney_actions(@attorney) unless pdf_output?
  .card-body
    = render 'layouts/show_data_columns', data: attorney_show_data(@attorney), resource: @attorney
