.card
  = render 'layouts/card_header', additional_actions: attorney_actions(@attorney)
  .card-body
    = render 'layouts/show_data_columns', data: attorney_show_data, resource: @attorney

= render 'layouts/reset_duplicates', record: @attorney, path: reset_duplicates_attorney_path(@attorney)
