%li.chat-right.justify-content-end.mb-3.d-flex.w-100{ id: typing_id }
  .chat-text.shadow
    .typing-dots
      %span.dot
      %span.dot
      %span.dot
  .chat-avatar.me-3
    %i.fa.fa-user-tie.shadow
    .chat-name.m-2
      = user_name
