- id = "direct-message-#{@direct_message.id}-chat"
- last_log = @direct_message.log.last.symbolize_keys
- log_data = direct_message_log_entry(last_log)
= turbo_stream.action(:update_input, 'direct_message_current_message', '')
= turbo_stream.append id, partial: log_data[:template], locals: log_data
= turbo_stream.action :scroll_bottom, 'scroll-container'
