.email.row
  .email-col-12
    .email-info-box
      %table.info-table
        %tr
          - @events.first.each_key do |item|
            %th= item
        - @events.each do |event|
          %tr
            - event.each_key do |item|
              %td= event[item]
