- if @user.external?
  - if @user_clients.count.zero?
    .alert.alert-danger Add at least one client to this user to give them access to their data
  .card
    - can_update = policy(@user).update?

    = render 'layouts/card_header', action_name: 'custom', title: "Clients (#{@user_clients.count})",
                                    icon: icon_hash(:clients), additional_actions: user_client_actions(@user)
    .card-body
      %table.table.table-striped.table-bordered
        %tr
          %th Name
          - if can_update
            %th.actions Actions
        - @user_clients.each do |user_client|
          %tr
            %td= secured_link user_client.client
            - if can_update
              %td
                - if policy(user_client).destroy?
                  = link_to icon(:times, 'Delete'), user_client, method: :delete, data: { confirm: 'Are you sure?' },
                                                                 class: 'btn btn-danger btn-sm btn-block'
