.vh-100
  .row.h-75
    .col-lg-4.d-lg-block.d-none
    .col-lg-4.col-12.mt-3.my-auto
      .d-none.d-sm-block
        .card.mt-3.shadow-lg.border-0.p-5
          .d-none.d-sm-block.mx-auto.mb-2
            = image_pack_tag RadConfig.app_logo_filename!, height: '100'
          %hr.mb-4
          = yield
      .d-sm-none= yield
