.row.mt-5
  .col-xl-4.col-lg-8.col-12.mt-3.my-auto.mx-auto
    .card.mt-3.shadow-sm.border-secondary.rounded.px-3.py-5
      .mx-auto.mb-4.d-none.d-md-block= image_pack_tag RadConfig.app_logo_filename!, height: '100'
      = yield
