.card
  = render 'layouts/card_header', no_new_button: true,
                                  no_index_button: true,
                                  no_delete_button: true,
                                  no_edit_button: true,
                                  title: system_message_title(@system_message),
                                  icon: 'fa-envelope'
  .card-body
    = render 'layouts/show_data_columns', resource: @system_message, data: system_message_show_data(@system_message)
