.attachment-wrapper.mt-2
  - if twilio_log.media_url_image?
    = link_to image_tag(twilio_log.media_url, class: 'attachment-content'),
              twilio_log.media_url,
              class: 'text-wrap',
              target: '_blank',
              rel: :noopener
  - else
    .attachment-button-box
      = link_to (tag.i('', class: "fas fa-paperclip fa-lg mr-2") + 'View Attachment'),
                twilio_log.media_url,
                target: '_blank',
                rel: :noopener,
                class: 'btn btn-info btn-sm attachment-link text-wrap'
