require 'rails_helper'

RSpec.describe <%= class_name %>Policy, type: :policy do
  let(:user) { User.new }

  subject { described_class }

<% policy_methods.each do |method| -%>
  permissions :<%= method %> do
    it "denies access if user is blank" do
      expect(subject).not_to permit(nil, <%= class_name %>.new)
    end
  end

<% end -%>
end