.modal.fade{ id: id,
             tabindex: '-1',
             data: { controller: 'lazy-container',
                     lazy_container_frame_value: 'global-lazy-content',
                     lazy_container_type_value: 'modal' } }
  .modal-dialog{ class: "modal-#{size}", data: { lazy_container_target: 'dialog' } }
    .modal-content
      .modal-header.bg-light
        .d-flex.flex-column.flex-grow-1
          %h5.modal-title.fw-bold{ data: { lazy_container_target: 'title' } }= title
          %small.text-muted{ data: { lazy_container_target: 'subtitle' } }= subtitle
        %button.btn-close{ type: 'button', data: { bs_dismiss: 'modal' }, aria: { label: 'Close' } }
      .modal-body{ data: { lazy_container_target: 'body' } }
