- if policy(User).index?
  - users = policy_scope(client.users).recent_first

  - if users.any?
    .card
      = render 'layouts/card_header', action_name: 'custom', title: 'Users', icon: 'fa-users'
      .card-body
        = render 'users/index', users: users, show_roles: false
