%p= "There are #{@problems.count} invalid records."
- @problems.each do |record, error_messages|
  - if record.persisted?
    %p
      = link_to record_name(record), record_url(record)
      = error_messages
