---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_MOBILE_PHONE_STRIPPED>?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ2d6af35b9ad3d2b155539f516c03b8e8
      Twilio-Request-Duration:
      - '0.057'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"add_ons": null, "caller_name": null, "carrier": {"error_code": null,
        "mobile_country_code": "311", "mobile_network_code": "180", "name": "AT&T
        Wireless", "type": "mobile"}, "country_code": "US", "national_format": "<TEST_MOBILE_PHONE>",
        "phone_number": "+1<TEST_MOBILE_PHONE_STRIPPED>", "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_MOBILE_PHONE_STRIPPED>"}'
  recorded_at: Fri, 14 Mar 2025 11:53:53 GMT
recorded_with: VCR 6.3.1
