---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/8508771806?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ21f6cea9e4ed263cc4a0e9cb562440f8
      Twilio-Request-Duration:
      - '0.027'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"add_ons": null, "caller_name": null, "carrier": {"error_code": null,
        "mobile_country_code": "311", "mobile_network_code": "910", "name": "Google
        (Grand Central) - SVR", "type": "voip"}, "country_code": "US", "national_format":
        "(850) 877-1806", "phone_number": "+18508771806", "url": "https://lookups.twilio.com/v1/PhoneNumbers/+18508771806"}'
  recorded_at: Tue, 30 Sep 2025 15:15:35 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/6785282763?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ89afbf46f24b8f37f0f05ae7b805588b
      Twilio-Request-Duration:
      - '0.030'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"add_ons": null, "caller_name": null, "carrier": {"error_code": null,
        "mobile_country_code": "313", "mobile_network_code": "981", "name": "Bandwidth/RingCentral
        Messaging - Sinch", "type": "voip"}, "country_code": "US", "national_format":
        "(678) 528-2763", "phone_number": "+16785282763", "url": "https://lookups.twilio.com/v1/PhoneNumbers/+16785282763"}'
  recorded_at: Tue, 30 Sep 2025 15:15:36 GMT
recorded_with: VCR 6.3.1
