---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/2466226313?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ6623e5a9860fe4f418c42b043e51d98f
      Twilio-Request-Duration:
      - '0.030'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"add_ons": null, "caller_name": null, "carrier": {"error_code": null,
        "mobile_country_code": "342", "mobile_network_code": "600", "name": "Cable
        & Wireless BARTEL Limited - BB - FLOW", "type": "mobile"}, "country_code":
        "BB", "national_format": "(246) 622-6313", "phone_number": "+12466226313",
        "url": "https://lookups.twilio.com/v1/PhoneNumbers/+12466226313"}'
  recorded_at: Wed, 01 Oct 2025 14:51:36 GMT
recorded_with: VCR 6.3.1
