---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_MOBILE_PHONE_STRIPPED>?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQb4d2384748ca8a5f1d9c7380be237b39
      Twilio-Request-Duration:
      - '0.035'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+1<TEST_MOBILE_PHONE_STRIPPED>",
        "national_format": "<TEST_MOBILE_PHONE>", "carrier": {"mobile_country_code":
        "311", "mobile_network_code": "489", "name": "Verizon Wireless", "type": "mobile",
        "error_code": null}, "add_ons": null, "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_MOBILE_PHONE_STRIPPED>?Type=carrier"}'
  recorded_at: Wed, 21 Jun 2023 10:40:52 GMT
recorded_with: VCR 6.1.0
