---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_PHONE_NUMBER_STRIPPED>?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQa6d5959a6c6fc7b06dca3b71dd981cf4
      Twilio-Request-Duration:
      - '0.036'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"phone_number": "+1<TEST_PHONE_NUMBER_STRIPPED>", "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_PHONE_NUMBER_STRIPPED>",
        "caller_name": null, "national_format": "<TEST_PHONE_NUMBER>", "country_code":
        "US", "carrier": {"name": "BellSouth", "type": "landline", "error_code": null,
        "mobile_country_code": "310", "mobile_network_code": null}, "add_ons": null}'
  recorded_at: Fri, 21 Jun 2024 18:29:41 GMT
recorded_with: VCR 6.2.0
