---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_PHONE_NUMBER_STRIPPED>?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQc95ef667df909276486d62a95fe2e54e
      Twilio-Request-Duration:
      - '0.031'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"add_ons": null, "caller_name": null, "carrier": {"error_code": null,
        "mobile_country_code": "310", "mobile_network_code": null, "name": "BellSouth",
        "type": "landline"}, "country_code": "US", "national_format": "<TEST_PHONE_NUMBER>",
        "phone_number": "+1<TEST_PHONE_NUMBER_STRIPPED>", "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_PHONE_NUMBER_STRIPPED>"}'
  recorded_at: Tue, 30 Sep 2025 12:46:21 GMT
recorded_with: VCR 6.3.1
