---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_MOBILE_PHONE_STRIPPED>?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQcc6228faead2109b4d5a909a28ead348
      Twilio-Request-Duration:
      - '0.032'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"phone_number": "+1<TEST_MOBILE_PHONE_STRIPPED>", "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_MOBILE_PHONE_STRIPPED>",
        "caller_name": null, "national_format": "<TEST_MOBILE_PHONE>", "country_code":
        "US", "carrier": {"name": "AT&T Wireless", "type": "mobile", "error_code":
        null, "mobile_country_code": "311", "mobile_network_code": "180"}, "add_ons":
        null}'
  recorded_at: Tue, 07 May 2024 15:23:29 GMT
recorded_with: VCR 6.2.0
