---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_PHONE_NUMBER_STRIPPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ4c48f0cfc7cf00a3c48717f46b332528
      Twilio-Request-Duration:
      - '0.021'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"add_ons": null, "caller_name": null, "carrier": null, "country_code":
        "US", "national_format": "<TEST_PHONE_NUMBER>", "phone_number": "+1<TEST_PHONE_NUMBER_STRIPPED>",
        "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_PHONE_NUMBER_STRIPPED>"}'
  recorded_at: Fri, 14 Mar 2025 11:53:53 GMT
recorded_with: VCR 6.3.1
