---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_PHONE_NUMBER_STRIPPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      twilio-request-id:
      - RQe3ee5a6047de160da1bf69df2feea56d
      twilio-request-duration:
      - '0.009'
      twilio-concurrent-requests:
      - '1'
      x-shenanigans:
      - none
      x-home-region:
      - us1
      x-api-domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+1<TEST_PHONE_NUMBER_STRIPPED>",
        "national_format": "<TEST_PHONE_NUMBER>", "carrier": null, "add_ons": null,
        "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_PHONE_NUMBER_STRIPPED>"}'
  recorded_at: Sun, 19 Feb 2023 13:13:41 GMT
recorded_with: VCR 6.1.0
