---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_PHONE_NUMBER_STRIPPED>?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQdc838edb42c12733072ceb4395cb15a7
      Twilio-Request-Duration:
      - '0.024'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+1<TEST_PHONE_NUMBER_STRIPPED>",
        "national_format": "<TEST_PHONE_NUMBER>", "carrier": {"mobile_country_code":
        "310", "mobile_network_code": null, "name": "BellSouth", "type": "landline",
        "error_code": null}, "add_ons": null, "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_PHONE_NUMBER_STRIPPED>?Type=carrier"}'
  recorded_at: Wed, 21 Jun 2023 10:40:53 GMT
recorded_with: VCR 6.1.0
