---
http_interactions:
- request:
    method: get
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/FindObjects/find?type=SalesPerson&xpath=@name%20=%20%27House%20Account%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '["1"]'
  recorded_at: Tue, 05 Aug 2025 19:28:37 GMT
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/ReadObject/readSalesPerson?primaryKey=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sourceOrganizationCompany":null,"tags":null,"ioID":null,"templateLine":0,"name":"House
        Account","id":1,"active":true,"email":null,"password":"X","notes":null,"phoneNumber":null,"phoneExtension":null,"estimatePrefix":null,"commissionRate":0,"quotePrefix":null,"annualQuota":0}'
  recorded_at: Tue, 05 Aug 2025 19:28:38 GMT
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/FindObjects/loadValueObjects
    body:
      encoding: UTF-8
      string: '{"objectName":"Customer","fields":[{"xpath":"@id","name":"id"},{"xpath":"@custName","name":"custName"},{"xpath":"salesPerson/@name","name":"salesPersonName"}],"offset":0,"limit":1000,"xpathSorts":null,"children":[],"xpathFilter":"@salesPerson
        = 1","primaryKey":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"valueObjects":[{"fields":[{"name":"id","value":"00001001","type":"String","xpath":"@id"},{"name":"custName","value":null,"type":"String","xpath":"@custName"},{"name":"salesPersonName","value":"House
        Account","type":"String","xpath":"salesPerson/@name"}],"children":[],"objectName":"Customer","primaryKey":"00001001"},{"fields":[{"name":"id","value":"00001002","type":"String","xpath":"@id"},{"name":"custName","value":null,"type":"String","xpath":"@custName"},{"name":"salesPersonName","value":"House
        Account","type":"String","xpath":"salesPerson/@n[...]
