---
http_interactions:
- request:
    method: get
    uri: https://api.authy.com//protected/json/users/54079846/status
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authy-Api-Key:
      - sgalMzexqBj8DxXW2Wdw65kKR6IfTMNT
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"User not found in application","success":false,"errors":{},"error_code":"60016"}'
  recorded_at: Wed, 25 Mar 2020 15:15:45 GMT
- request:
    method: post
    uri: https://api.authy.com//protected/json/users/new
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=example28%40example.com&user%5Bcountry_code%5D=1&user%5Bcellphone%5D=%28999%29+231-1111&send_install_link_via_sms=true
    headers:
      X-Authy-Api-Key:
      - sgalMzexqBj8DxXW2Wdw65kKR6IfTMNT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"User created successfully.","user":{"id":75821968},"success":true}'
  recorded_at: Wed, 25 Mar 2020 15:15:45 GMT
recorded_with: VCR 5.1.0
