---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/VerificationCheck
    body:
      encoding: UTF-8
      string: Code=123456&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '20003'
      Twilio-Request-Id:
      - RQ16ddfd6a104b0717a724e235ca720e49
      Twilio-Request-Duration:
      - '0.024'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Sun, 29 Mar 2026 09:13:54 GMT
recorded_with: VCR 6.4.0
