---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ4e093fa41b341b7998b68558f1b3cdf8
      Twilio-Request-Duration:
      - '0.039'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 60203, "message": "Max send attempts reached", "more_info":
        "https://www.twilio.com/docs/errors/60203", "status": 429}'
  recorded_at: Wed, 08 Mar 2023 18:47:32 GMT
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ32f835da061d869b8da16e07b191937f
      Twilio-Request-Duration:
      - '0.034'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 60203, "message": "Max send attempts reached", "more_info":
        "https://www.twilio.com/docs/errors/60203", "status": 429}'
  recorded_at: Wed, 08 Mar 2023 18:47:35 GMT
recorded_with: VCR 6.1.0
