---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ720bf9caeaf9da17133ca9f4ff2e4b4f
      Twilio-Request-Duration:
      - '0.115'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2023-03-08T18:59:23Z",
        "send_code_attempts": [{"attempt_sid": "VL7e2de506eecf0eda77666e2ea32ac681",
        "channel": "sms", "time": "2023-03-08T18:59:22.000Z"}, {"attempt_sid": "VLa61bf631fa96b81ebd5aea7a891b7d4a",
        "channel": "sms", "time": "2023-03-08T18:59:23.026Z"}], "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59",
        "to": "+1<TEST_MOBILE_PHONE_STRIPPED>", "amount": null, "valid": false, "lookup":
        {"carrier": null}, "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications/VE9202df427ce4951d5b83185611217123",
        "sid": "VE9202df427ce4951d5b83185611217123", "date_created": "2023-03-08T18:59:22Z",
        "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>", "channel": "sms"}'
  recorded_at: Wed, 08 Mar 2023 18:59:23 GMT
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/VerificationCheck
    body:
      encoding: UTF-8
      string: Code=123456&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ9b75a34c33646c8e29b7ef3aa47ab583
      Twilio-Request-Duration:
      - '0.031'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2023-03-08T18:59:23Z",
        "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59", "to": "+1<TEST_MOBILE_PHONE_STRIPPED>",
        "amount": null, "valid": false, "sid": "VE9202df427ce4951d5b83185611217123",
        "date_created": "2023-03-08T18:59:22Z", "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>",
        "channel": "sms"}'
  recorded_at: Wed, 08 Mar 2023 18:59:23 GMT
recorded_with: VCR 6.1.0
