---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ9e8885ffc2786f71f3eed8e555947d8d
      Twilio-Request-Duration:
      - '0.137'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2023-06-21T10:40:48Z",
        "send_code_attempts": [{"attempt_sid": "VLb28795af6163823041bea6b5fcfb908b",
        "channel": "sms", "time": "2023-06-21T10:40:48.137Z"}], "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59",
        "to": "+1<TEST_MOBILE_PHONE_STRIPPED>", "amount": null, "valid": false, "lookup":
        {"carrier": null}, "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications/VEd9bd5902eb305e561688ad0b35ddfe55",
        "sid": "VEd9bd5902eb305e561688ad0b35ddfe55", "date_created": "2023-06-21T10:40:48Z",
        "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>", "channel": "sms"}'
  recorded_at: Wed, 21 Jun 2023 10:40:48 GMT
recorded_with: VCR 6.1.0
