---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ466562dd7e3effa1d40b5a8a3aaa24b1
      Twilio-Request-Duration:
      - '0.175'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"account_sid": "AC803cc481ffe11bab268fcfb8f247dd59", "amount": null,
        "channel": "sms", "date_created": "2026-03-29T10:00:12Z", "date_updated":
        "2026-03-29T10:00:13Z", "lookup": {"carrier": null}, "payee": null, "send_code_attempts":
        [{"attempt_sid": "VL7ee0ccfabc41c4446f1597a4c1846d50", "channel": "sms", "time":
        "2026-03-29T10:00:12.670Z"}, {"attempt_sid": "VL32347e3fbd561a29d2af8bff3fa8b3a3",
        "channel": "sms", "time": "2026-03-29T10:00:13.054Z"}], "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>",
        "sid": "VE6676a597fe5470186391033952a14cba", "status": "pending", "to": "+1<TEST_MOBILE_PHONE_STRIPPED>",
        "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications/VE6676a597fe5470186391033952a14cba",
        "valid": false}'
  recorded_at: Sun, 29 Mar 2026 10:00:13 GMT
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/VerificationCheck
    body:
      encoding: UTF-8
      string: Code=123456&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ283262c18b6bc29474f46de7fbb13db2
      Twilio-Request-Duration:
      - '0.060'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"account_sid": "AC803cc481ffe11bab268fcfb8f247dd59", "amount": null,
        "channel": "sms", "date_created": "2026-03-29T10:00:12Z", "date_updated":
        "2026-03-29T10:00:13Z", "payee": null, "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>",
        "sid": "VE6676a597fe5470186391033952a14cba", "status": "pending", "to": "+1<TEST_MOBILE_PHONE_STRIPPED>",
        "valid": false}'
  recorded_at: Sun, 29 Mar 2026 10:00:13 GMT
recorded_with: VCR 6.4.0
