---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/VerificationCheck
    body:
      encoding: UTF-8
      string: Code=123456&To=example14949037%40example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '20003'
      Twilio-Request-Id:
      - RQ90d0e14d49ec00ccd992242a637c67e6
      Twilio-Request-Duration:
      - '0.017'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Sun, 29 Mar 2026 09:13:55 GMT
recorded_with: VCR 6.4.0
