---
http_interactions:
- request:
    method: get
    uri: https://api.authy.com//protected/json/sms/1234567?force=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authy-Api-Key:
      - "<AUTHY_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"User not found.","success":false,"errors":{"message":"User
        not found."},"error_code":"60026"}'
  recorded_at: Tue, 12 Apr 2022 13:51:59 GMT
recorded_with: VCR 6.1.0
