---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQe673d2a248437cd69022c779808fc936
      Twilio-Request-Duration:
      - '0.111'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2023-03-08T18:59:22Z",
        "send_code_attempts": [{"attempt_sid": "VL7e2de506eecf0eda77666e2ea32ac681",
        "channel": "sms", "time": "2023-03-08T18:59:22.156Z"}], "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59",
        "to": "+1<TEST_MOBILE_PHONE_STRIPPED>", "amount": null, "valid": false, "lookup":
        {"carrier": null}, "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications/VE9202df427ce4951d5b83185611217123",
        "sid": "VE9202df427ce4951d5b83185611217123", "date_created": "2023-03-08T18:59:22Z",
        "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>", "channel": "sms"}'
  recorded_at: Wed, 08 Mar 2023 18:59:22 GMT
recorded_with: VCR 6.1.0
