---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ3f0c9cd4b2e5de30f37b2ab7ed091d5f
      Twilio-Request-Duration:
      - '0.111'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2024-05-07T15:23:26Z",
        "send_code_attempts": [{"attempt_sid": "VL7079573b38d9a9336240682060934503",
        "channel": "sms", "time": "2024-05-07T15:23:25.000Z"}, {"attempt_sid": "VLd3ef274c8f29b9f796ec12620d92ebac",
        "channel": "sms", "time": "2024-05-07T15:23:26.000Z"}], "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59",
        "to": "+1<TEST_MOBILE_PHONE_STRIPPED>", "amount": null, "valid": false, "lookup":
        {"carrier": null}, "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications/VE1c5a4a3b046985bcb4f7aacba8060ca7",
        "sid": "VE1c5a4a3b046985bcb4f7aacba8060ca7", "date_created": "2024-05-07T15:23:25Z",
        "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>", "channel": "sms"}'
  recorded_at: Tue, 07 May 2024 15:23:26 GMT
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/VerificationCheck
    body:
      encoding: UTF-8
      string: Code=123456&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ79babcdc2d1df686437fa36e9eb3bc9a
      Twilio-Request-Duration:
      - '0.034'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2024-05-07T15:23:26Z",
        "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59", "to": "+1<TEST_MOBILE_PHONE_STRIPPED>",
        "amount": null, "valid": false, "sid": "VE1c5a4a3b046985bcb4f7aacba8060ca7",
        "date_created": "2024-05-07T15:23:25Z", "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>",
        "channel": "sms"}'
  recorded_at: Tue, 07 May 2024 15:23:26 GMT
recorded_with: VCR 6.2.0
