---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQb803aa0e8d45ebf193477a94427913b9
      Twilio-Request-Duration:
      - '0.125'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2023-03-06T13:00:30Z",
        "send_code_attempts": [{"attempt_sid": "VL30a5b6aa9062f0fea349e5278ad7cc42",
        "channel": "sms", "time": "2023-03-06T12:58:02.000Z"}, {"attempt_sid": "VL5c01786db2c8c097a281823e302c6f59",
        "channel": "sms", "time": "2023-03-06T12:58:03.000Z"}, {"attempt_sid": "VLbfddb5718c5c7b3459289575aee314f2",
        "channel": "sms", "time": "2023-03-06T13:00:29.000Z"}, {"attempt_sid": "VLb70178149e8023c10f58c9928a6cb227",
        "channel": "sms", "time": "2023-03-06T13:00:30.775Z"}], "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59",
        "to": "+1<TEST_MOBILE_PHONE_STRIPPED>", "amount": null, "valid": false, "lookup":
        {"carrier": null}, "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SID>/Verifications/VEa11e2812cd22ec07b71cc3e2ca48116e",
        "sid": "VEa11e2812cd22ec07b71cc3e2ca48116e", "date_created": "2023-03-06T12:58:02Z",
        "service_sid": "<TWILIO_ALT_VERIFY_SID>", "channel": "sms"}'
  recorded_at: Mon, 06 Mar 2023 13:00:30 GMT
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SID>/VerificationCheck
    body:
      encoding: UTF-8
      string: Code=123456&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ7a88edb904d626344fb8c592c7923c7c
      Twilio-Request-Duration:
      - '0.025'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2023-03-06T13:00:31Z",
        "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59", "to": "+1<TEST_MOBILE_PHONE_STRIPPED>",
        "amount": null, "valid": false, "sid": "VEa11e2812cd22ec07b71cc3e2ca48116e",
        "date_created": "2023-03-06T12:58:02Z", "service_sid": "<TWILIO_ALT_VERIFY_SID>",
        "channel": "sms"}'
  recorded_at: Mon, 06 Mar 2023 13:00:31 GMT
recorded_with: VCR 6.1.0
