---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Domain:
      - verify.twilio.com
      Twilio-Request-Id:
      - RQ25c1ac5823c22e616172708849ef31b0
      Twilio-Request-Duration:
      - '0.125'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2025-03-13T16:50:41Z",
        "send_code_attempts": [{"attempt_sid": "VLd817d13b24794f42e04660983026bfef",
        "channel": "sms", "time": "2025-03-13T16:50:40.649Z"}, {"attempt_sid": "VL298d0d877312545f10d7640f7656882a",
        "channel": "sms", "time": "2025-03-13T16:50:41.052Z"}], "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59",
        "to": "+1<TEST_MOBILE_PHONE_STRIPPED>", "amount": null, "valid": false, "lookup":
        {"carrier": null}, "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications/VE913550067e13154877f1a3f0ca863824",
        "sid": "VE913550067e13154877f1a3f0ca863824", "date_created": "2025-03-13T16:50:40Z",
        "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>", "channel": "sms"}'
  recorded_at: Thu, 13 Mar 2025 16:50:41 GMT
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/VerificationCheck
    body:
      encoding: UTF-8
      string: Code=123456&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Domain:
      - verify.twilio.com
      Twilio-Request-Id:
      - RQ2329b3eba3a957f70cb6deed4adbb4c1
      Twilio-Request-Duration:
      - '0.028'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2025-03-13T16:50:41Z",
        "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59", "to": "+1<TEST_MOBILE_PHONE_STRIPPED>",
        "amount": null, "valid": false, "sid": "VE913550067e13154877f1a3f0ca863824",
        "date_created": "2025-03-13T16:50:40Z", "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>",
        "channel": "sms"}'
  recorded_at: Thu, 13 Mar 2025 16:50:41 GMT
recorded_with: VCR 6.3.1
