---
http_interactions:
- request:
    method: post
    uri: https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications
    body:
      encoding: UTF-8
      string: Channel=sms&To=%2B1<TEST_MOBILE_PHONE_STRIPPED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4MDNjYzQ4MWZmZTExYmFiMjY4ZmNmYjhmMjQ3ZGQ1OTo1MWQ0NDA3NzYzNzdiNzQ5MWFkNzBlNDc1MzI5MWQxYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQbbe2548c190beeae8a8ba1cee36ed64d
      Twilio-Request-Duration:
      - '0.133'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - verify.twilio.com
    body:
      encoding: UTF-8
      string: '{"status": "pending", "payee": null, "date_updated": "2024-01-06T10:35:03Z",
        "send_code_attempts": [{"attempt_sid": "VL182110a797d3603261f7c68fe16c17d3",
        "channel": "sms", "time": "2024-01-06T10:35:03.000Z"}], "account_sid": "AC803cc481ffe11bab268fcfb8f247dd59",
        "to": "+1<TEST_MOBILE_PHONE_STRIPPED>", "amount": null, "valid": false, "lookup":
        {"carrier": null}, "url": "https://verify.twilio.com/v2/Services/<TWILIO_ALT_VERIFY_SERVICE_SID>/Verifications/VEa56434589a9e0167dfb118c4f69b0a5f",
        "sid": "VEa56434589a9e0167dfb118c4f69b0a5f", "date_created": "2024-01-06T10:35:03Z",
        "service_sid": "<TWILIO_ALT_VERIFY_SERVICE_SID>", "channel": "sms"}'
  recorded_at: Sat, 06 Jan 2024 10:35:03 GMT
recorded_with: VCR 6.2.0
