- can_create = policy(NotificationSetting.new).new?
- can_type = policy(NotificationType.new).update?

.card-body
  %table.table.table-bordered
    %tr
      %th Notification
      %th
        Enabled
        %p Email/SMS/Feed

    - settings.each do |record|
      %tr{ class: table_row_style(record) }
        %td
          - if can_type
            = link_to record.notification_type, edit_notification_type_path(record.notification_type)
          - else
            = record.notification_type
        %td.w-50
          = render 'notification_settings/toggle_enabled',
                   notification_setting: record,
                   can_update: can_create && policy(record).create?
