.panel.panel-default
  = render 'layouts/panel_header', action_name: 'custom', title: 'Notification Settings', icon: 'fa-list'
  = render 'notification_settings/index', settings: Notifications::Notification.settings_for_user(current_user)
