.card
  = render 'layouts/card_header', action_name: 'custom',
                                  title: audits_title(@audits, @show_search, @resource),
                                  icon: 'fa-list'

  .card-body
    = render 'layouts/rad_table', rad_table: @audit_table
