.card
  = render 'layouts/card_header',
           title: edit_company_title(@company),
           no_new_button: true,
           no_delete_button: true,
           no_index_button: true,
           no_show_link: true

  .card-body
    = simple_form_for(@company, url: '/company/update', method: :put) do |f|
      = form_errors_alert(f)

      = render 'companies/form', f: f
