.card
  = render 'layouts/card_header',
           title: edit_company_title(@company),
           no_new_button: true,
           no_delete_button: true,
           no_index_button: true,
           no_show_link: true

  .card-body
    = simple_form_for(@company, url: company_update_path, method: :put) do |f|
      = rad_form_errors f

      = render 'companies/form', f: f
