---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550004
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21610'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ8d038af983070277f9e1d33c2e26ffe2
      Twilio-Request-Duration:
      - '0.038'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":21610,"message":"Attempt to send to unsubscribed recipient","more_info":"https://www.twilio.com/docs/errors/21610","status":400}'
  recorded_at: Thu, 13 Mar 2025 16:49:22 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550004
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21610'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ59ed45a948e504fb90a2179d8d5684b5
      Twilio-Request-Duration:
      - '0.033'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":21610,"message":"Attempt to send to unsubscribed recipient","more_info":"https://www.twilio.com/docs/errors/21610","status":400}'
  recorded_at: Thu, 13 Mar 2025 16:49:23 GMT
recorded_with: VCR 6.3.1
