---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550004
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21610'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQd2aa935aa6826d5e42a997fd6307e1c5
      Twilio-Request-Duration:
      - '32'
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
    body:
      encoding: UTF-8
      string: '{"code":21610,"message":"Attempt to send to unsubscribed recipient","more_info":"https://www.twilio.com/docs/errors/21610","status":400}'
  recorded_at: Tue, 07 May 2024 15:22:35 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550004
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21610'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQeeb7b91dced249d1a02b796ab56797e1
      Twilio-Request-Duration:
      - '34'
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
    body:
      encoding: UTF-8
      string: '{"code":21610,"message":"Attempt to send to unsubscribed recipient","more_info":"https://www.twilio.com/docs/errors/21610","status":400}'
  recorded_at: Tue, 07 May 2024 15:22:36 GMT
recorded_with: VCR 6.2.0
