---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ28ffd5e363a51f8698f899c6ce93c40c
      Twilio-Request-Duration:
      - '0.058'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +15005550009, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Tue, 12 Apr 2022 13:54:24 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ3704e5802e89cc65198773b24712b209
      Twilio-Request-Duration:
      - '0.058'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +15005550009, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Tue, 12 Apr 2022 13:54:55 GMT
recorded_with: VCR 6.1.0
