---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B16187222169
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQa2851c4b0b2c8337927c8a20ffb24995
      Twilio-Request-Duration:
      - '0.036'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "test message - To no longer receive text messages, text STOP",
        "num_segments": "1", "direction": "outbound-api", "from": "+15005550006",
        "date_updated": "Sat, 06 Jan 2024 10:34:20 +0000", "price": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages/SMa2851c4b0b2c8337927c8a20ffb24995.json",
        "account_sid": "ACaae98776bde4ed53d0fb1dfcc262558e", "num_media": "0", "to":
        "+16187222169", "date_created": "Sat, 06 Jan 2024 10:34:20 +0000", "status":
        "queued", "sid": "SMa2851c4b0b2c8337927c8a20ffb24995", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages/SMa2851c4b0b2c8337927c8a20ffb24995/Media.json"}}'
  recorded_at: Sat, 06 Jan 2024 10:34:20 GMT
recorded_with: VCR 6.2.0
