---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B16187222169
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      twilio-request-id:
      - RQab1449d0680ba6fd1c16e4107b8f7df4
      twilio-request-duration:
      - '0.047'
      twilio-concurrent-requests:
      - '1'
      x-shenanigans:
      - none
      x-home-region:
      - us1
      x-api-domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "test message - To no longer receive text messages, text STOP",
        "num_segments": "1", "direction": "outbound-api", "from": "15005550006", "date_updated":
        "Sun, 19 Feb 2023 13:13:11 +0000", "price": null, "error_message": null, "uri":
        "/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages/SMab1449d0680ba6fd1c16e4107b8f7df4.json",
        "account_sid": "AC2540a6d0062cb347979e6b695b61ff0a", "num_media": "0", "to":
        "+16187222169", "date_created": "Sun, 19 Feb 2023 13:13:11 +0000", "status":
        "queued", "sid": "SMab1449d0680ba6fd1c16e4107b8f7df4", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages/SMab1449d0680ba6fd1c16e4107b8f7df4/Media.json"}}'
  recorded_at: Sun, 19 Feb 2023 13:13:11 GMT
recorded_with: VCR 6.1.0
