---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B16187222169
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQac2e381555ed5d750a4985fa1f5f9aab
      Twilio-Request-Duration:
      - '0.030'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "test message - To no longer receive text messages, text STOP",
        "num_segments": "1", "direction": "outbound-api", "from": "15005550006", "date_updated":
        "Wed, 21 Jun 2023 10:40:08 +0000", "price": null, "error_message": null, "uri":
        "/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages/SMac2e381555ed5d750a4985fa1f5f9aab.json",
        "account_sid": "AC2540a6d0062cb347979e6b695b61ff0a", "num_media": "0", "to":
        "+16187222169", "date_created": "Wed, 21 Jun 2023 10:40:08 +0000", "status":
        "queued", "sid": "SMac2e381555ed5d750a4985fa1f5f9aab", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages/SMac2e381555ed5d750a4985fa1f5f9aab/Media.json"}}'
  recorded_at: Wed, 21 Jun 2023 10:40:08 GMT
recorded_with: VCR 6.1.0
