---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC2540a6d0062cb347979e6b695b61ff0a/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message&From=%2B15005550006&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyNTQwYTZkMDA2MmNiMzQ3OTc5ZTZiNjk1YjYxZmYwYTplNmZlMWE3ZjAzOTQ3MWU1ZTc2Mjg0ZjJhNTBlNTYwMg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ4d35e218b38e4a9cbb72c29645371f69
      Twilio-Request-Duration:
      - '0.058'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21614, "message": "To number: +15005550009, is not a mobile
        number", "more_info": "https://www.twilio.com/docs/errors/21614", "status":
        400}'
  recorded_at: Thu, 03 Dec 2020 16:21:13 GMT
recorded_with: VCR 6.0.0
