---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&MediaUrl=http%3A%2F%2Fexample.com%2Ffoo.jpg&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B16187222169
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ9458796e49963302b714f8ba0be79858
      Twilio-Request-Duration:
      - '0.079'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"account_sid": "ACaae98776bde4ed53d0fb1dfcc262558e", "api_version":
        "2010-04-01", "body": "test message - To no longer receive text messages,
        text STOP", "date_created": "Sun, 16 Mar 2025 19:02:37 +0000", "date_sent":
        null, "date_updated": "Sun, 16 Mar 2025 19:02:37 +0000", "direction": "outbound-api",
        "error_code": null, "error_message": null, "from": "+15005550006", "messaging_service_sid":
        null, "num_media": "0", "num_segments": "1", "price": null, "price_unit":
        "USD", "sid": "MM9458796e49963302b714f8ba0be79858", "status": "queued", "subresource_uris":
        {"media": "/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages/MM9458796e49963302b714f8ba0be79858/Media.json"},
        "to": "+16187222169", "uri": "/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages/MM9458796e49963302b714f8ba0be79858.json"}'
  recorded_at: Sun, 16 Mar 2025 19:02:37 GMT
recorded_with: VCR 6.3.1
