---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21614'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQfabc88732925b7cb5587a4f12ec9b9b0
      Twilio-Request-Duration:
      - '0.049'
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
    body:
      encoding: UTF-8
      string: '{"code":21614,"message":"''To'' number: +1500555XXXX, is not a valid
        mobile number","more_info":"https://www.twilio.com/docs/errors/21614","status":400}'
  recorded_at: Fri, 21 Jun 2024 18:28:04 GMT
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaae98776bde4ed53d0fb1dfcc262558e/Messages.json
    body:
      encoding: UTF-8
      string: Body=test+message+-+To+no+longer+receive+text+messages%2C+text+STOP&From=15005550006&StatusCallback=http%3A%2F%2Fexample.com%2Ftwilio_statuses&To=%2B15005550009
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhYWU5ODc3NmJkZTRlZDUzZDBmYjFkZmNjMjYyNTU4ZTo5ZDY1YTY4Y2Y3ZjliMTZjMzBjYmNjMjFmYTdiZThiYg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '21614'
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQbc79fa4d95d4ee7d3361a36a3ef514a5
      Twilio-Request-Duration:
      - '0.050'
      X-Api-Domain:
      - api.twilio.com
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
    body:
      encoding: UTF-8
      string: '{"code":21614,"message":"''To'' number: +1500555XXXX, is not a valid
        mobile number","more_info":"https://www.twilio.com/docs/errors/21614","status":400}'
  recorded_at: Fri, 21 Jun 2024 18:28:05 GMT
recorded_with: VCR 6.2.0
