---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"to":"eaRGtEwMoeQ:APA91bFvQAqnXU0F1yhvotXohwOLkflP41ugVfMfLZZZI8BtaBiJwH6vY7U7JyHUyQO3FgPnRFyVtr_g19wK7GuPO5TNLp8sbAHTuAoDaNFgCU6_-rAWjyLWkneLogKqxyMD09uEqgC-","notification":{"title":"test","body":"this
        is a test message","badge":null,"sound":"default"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - key= AAAAPp5edMk:APA91bHzHU_U1wFmLWTzCZ9WrIYlbAJrMVBF-EqMDutE2k_DpilAz6i9JOIvTNs3LR-QDUGgOsvWnSjMQxFxUO3q3j8WYm6VVMGeqxNVT2blTRyEDnmtpCTW6TLFaEAipqgs4rssQz9P
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"multicast_id":5903848579994252804,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1593195361155917%cc9b4facf9fd7ecd"}]}'
  recorded_at: Fri, 26 Jun 2020 18:16:01 GMT
recorded_with: VCR 6.0.0
