---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"to":"my_token","notification":{"title":"test","body":"this is a test
        message","badge":null,"sound":"default"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - key= AAAAPp5edMk:APA91bHzHU_U1wFmLWTzCZ9WrIYlbAJrMVBF-EqMDutE2k_DpilAz6i9JOIvTNs3LR-QDUGgOsvWnSjMQxFxUO3q3j8WYm6VVMGeqxNVT2blTRyEDnmtpCTW6TLFaEAipqgs4rssQz9P
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"multicast_id":1455289870069191318,"success":0,"failure":1,"canonical_ids":0,"results":[{"error":"InvalidRegistration"}]}'
  recorded_at: Thu, 30 Jul 2020 15:28:49 GMT
recorded_with: VCR 6.0.0
