---
http_interactions:
- request:
    method: post
    uri: https://api.authy.com//protected/json/users/new
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=example26%40example.com&user%5Bcountry_code%5D=1&user%5Bcellphone%5D=%28485%29+565-8600&send_install_link_via_sms=true
    headers:
      X-Authy-Api-Key:
      - "<AUTHY_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"User created successfully.","user":{"id":412542000},"success":true}'
  recorded_at: Tue, 15 Jun 2021 12:32:07 GMT
recorded_with: VCR 6.0.0
