---
http_interactions:
- request:
    method: post
    uri: https://api.authy.com//protected/json/users/new
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=foo%40&user%5Bcountry_code%5D=1&user%5Bcellphone%5D=%28123%29+456-7111&send_install_link_via_sms=true
    headers:
      X-Authy-Api-Key:
      - sgalMzexqBj8DxXW2Wdw65kKR6IfTMNT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"message":"User was not valid","success":false,"errors":{"email":"is
        invalid","message":"User was not valid"},"email":"is invalid","error_code":"60027"}'
  recorded_at: Mon, 28 Oct 2019 12:45:30 GMT
recorded_with: VCR 5.0.0
