---
http_interactions:
- request:
    method: post
    uri: https://api.authy.com//protected/json/users/new
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=foo%40&user%5Bcountry_code%5D=1&user%5Bcellphone%5D=%28904%29+226-4901&send_install_link_via_sms=true
    headers:
      X-Authy-Api-Key:
      - "<AUTHY_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"is invalid","message":"User was not valid","success":false,"errors":{"email":"is
        invalid","message":"User was not valid"},"error_code":"60027"}'
  recorded_at: Tue, 12 Apr 2022 13:51:16 GMT
recorded_with: VCR 6.1.0
