= turbo_stream.action :hide_modal, 'saved-search-filters-modal'
= turbo_stream.action :send_success_toast, 'body', 'Filter was saved.'
= turbo_stream.append 'saved_search_filter_items' do
  = render 'saved_search_filters/saved_filter', saved_filter: @saved_search_filter,
                                                is_active: true,
                                                path: request.referer
