%li.chat-left.w-100#loading-message
  .chat-message
    .chat-avatar
      %i.fa.fa-user-tie
    .chat-body
      .chat-header
        %span.chat-sender= responder_name
        %span.chat-timestamp= format_time(DateTime.current)
      .chat-text
        .chat-loading-dots
          %span
          %span
          %span
