%li.chat-right.justify-content-end.mb-3.d-flex.w-100
  .chat-text
    %pre= chat_text_sanitize(message)
  .chat-avatar.ms-2
    - if defined?(user) && user&.avatar&.attached?
      = image_tag(user.avatar.variant(resize_to_limit: [50, 50]))
    - else
      %i.fa.fa-user
    .chat-name.mt-1
      = user_name
      %br
      %strong= chat_date
