%li.chat-right.w-100
  .chat-message
    .chat-avatar
      - if defined?(user) && user&.avatar&.attached?
        = image_tag(user.avatar.variant(resize_to_limit: [50, 50]))
      - else
        %i.fa.fa-user
    .chat-body
      .chat-header
        %span.chat-sender= user_name
        %span.chat-timestamp= chat_date
      .chat-text
        %pre= chat_text_sanitize(message)
