.flex-grow-1.chat-scroll-panel#scroll-container
  .chat-container.mt-3
    %ul.chat-box.chatContainerScroll{ id: chat_panel.chat_list_id }
      = render 'chat/messages', messages: chat_panel.messages
      = chat_panel.additional_content

.border-top.pt-3.pb-4.px-4.bg-white
  = yield
