---
http_interactions:
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/ReadObject/readJobType?primaryKey=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sourceOrganizationCompany":null,"tags":null,"ioID":null,"templateLine":0,"distributeTax":false,"billPartsTogetherAttribute":false,"id":1,"active":true,"description":"Offset
        Print","jacketType":"1","jobProductInvoiceLineDescription":null,"jobPartInvoiceLineDescription":null,"jobPartItemInvoiceLineDescription":null,"jobMaterialInvoiceLineDescription":null,"jobInvoiceLineDescription":null,"useManufacturingLocationPrefix":false,"routingTemplate":0,"taxDistributionMethod":"3","taxDistributionSource":"1","commissionDistributionMethod":"1","commissionDistributionSource":"1","autoCloseJobs":"2","numberInvoiceOnAdd":false,"salesTaxBasis":"1","invoiceNumIsJobNum":false,"salesDistributionMethod":"1","invoiceDateMethod":"3","archiveDescription":"1","invoiceLevelOptions":"1","finishGoodInvoiceDescription":"1","jobPartItemInvoiceDescription":"1","autoApplyDeposits":true,"autoEnterOverage":true,"autoEnterUnderage":false,"finishedGoodInvoiceMethod":"0","invoiceQuantity":"2","consolidateVatTaxDistributions":true,"separateTaxDistibutionForRounding":true,"createMdffOrder":false,"displayDeposits":true,"displayPartItems":true,"useInvoiceDescriptionFrom":"D","createJobPartWorkFolders":false,"autoAddProduct":false,"createJobPartFolders":false,"lineItemPriceOptions":"0","jobNumberSequence":"1","jobComponentRatioCalculation":"1","jobNumberPrefix":null,"quoteItemInvoiceMethod":"0"}'
  recorded_at: Tue, 29 Jul 2025 18:52:40 GMT
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/UpdateObject/updateJobType
    body:
      encoding: UTF-8
      string: '{"id":1,"description":"Updated description"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      [...]
[...]
