%button.btn.btn-sm.btn-secondary{ type: 'button',
                                  data: { bs_toggle: 'modal', bs_target: '#filter-settings-modal' },
                                  title: 'Filter Settings' }
  = icon :cog

.modal.fade#filter-settings-modal{ tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Filter Settings
        %button.btn-close{ type: 'button', data: { bs_dismiss: 'modal' } }
      .modal-body
        = render 'search_preferences/form', search_preference: search_preference,
                                            allow_sticky_filters: allow_sticky_filters
