td.fa.security-group-td
{
  border-style: none;
}

.green-check
{
  color: green;
  width: 100%;
  text-align: center;
}

.red-x
{
  font-size: 125%;
  color: red;
  width: 100%;
  text-align: center;
}
