// Modal scroll content
// bootstrap has .modal-dialog-scrollable which works for normal modals, but for lazy modals we have to load the footer
// and body together since they are in a form, this height calc is an approximation of the content height.
.modal-dialog {
  .modal-lazy-scroll-content {
    height: calc(100dvh - 180px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
