.navbar {
  min-height: 80px;
}
.navbar .navbar-nav > li > a {
  padding-top: 29px;
  font-size: 16px;
  padding-bottom: 29px;
  margin-bottom: -29px;
}
.navbar .navbar-nav > li.navbar-brand > a {
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 8px;
}
.navbar .navbar-brand.by-line {
  padding-top: 22px;
  margin: 0;
  margin-top: 6px;
  margin-right: 15px;
}
.navbar .navbar-brand {
  height: auto;
  padding: 0;
}
.navbar .navbar-brand img {
  height: 77px;
  padding: 6px 15px;
}
.user-icon {
  width: 40px;
  margin-left: 4px;
  vertical-align: text-top;
}
.home-page img {
  display: inline-block;
}
.home-page .welcome-header-text {
  display: inline-block;
  font-size: 30px;
  margin-left: 30px;
}
.home-page .welcome-text {
  display: inline-block;
  font-size: 15px;
  margin-left: 30px;
}
.title-header .title-text {
  display: inline-block;
  font-size: 24px;
  margin-right: 20px;
}
.title-header .action-buttons {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
.global-search-nav {
  width: 290px;
  padding-top: 21px;
  margin-left: 5px;
}
#search-options {
  cursor: pointer;
}
.selected-search {
  font-weight: bold;
}
.content {
  padding-left: 50px;
  padding-right: 50px;
}
.content .global-search-group {
  display: none;
}
.ui-autocomplete {
  z-index: 99999 !important;
}
.search-column-value {
  float: right;
  text-transform: capitalize;
  color: #7A7A7A;
}
.ui-widget table.ui-state-focus {
  margin: 0;
  border: none;
}
.ui-widget table.ui-menu-item {
  width: 100%;
}
.ui-widget table.ui-menu-item td.search-column-value {
  padding-right: 3px;
  text-align: right;
  float: none;
}
.button-row {
  margin-bottom: 18px;
}
.top--10px {
  margin-top: -10px !important;
}
.top--5px {
  margin-top: -5px !important;
}
.top-5px {
  margin-top: 5px !important;
}
.top-3px {
  margin-top: 3px !important;
}
.top-10px {
  margin-top: 10px !important;
}
.top-15px {
  margin-top: 15px !important;
}
.top-20px {
  margin-top: 20px !important;
}
.top-30px {
  margin-top: 30px !important;
}
.top-60px {
  margin-top: 60px !important;
}
.top-80px {
  margin-top: 80px !important;
}
.right--5px {
  margin-right: -5px !important;
}
.right-5px {
  margin-right: 5px !important;
}
.right-10px {
  margin-right: 10px !important;
}
.right-15px {
  margin-right: 15px !important;
}
.right-20px {
  margin-right: 20px !important;
}
.right-30px {
  margin-right: 30px !important;
}
.right-60px {
  margin-right: 60px !important;
}
.right-80px {
  margin-right: 80px !important;
}
.left--5px {
  margin-left: -5px !important;
}
.left-5px {
  margin-left: 5px !important;
}
.left-10px {
  margin-left: 10px !important;
}
.left-15px {
  margin-left: 15px !important;
}
.left-20px {
  margin-left: 20px !important;
}
.left-30px {
  margin-left: 30px !important;
}
.left-60px {
  margin-left: 60px !important;
}
.left-80px {
  margin-left: 80px !important;
}
.bottom--5px {
  margin-bottom: -5px !important;
}
.bottom-5px {
  margin-bottom: 5px !important;
}
.bottom-10px {
  margin-bottom: 10px !important;
}
.bottom-15px {
  margin-bottom: 15px !important;
}
.bottom-20px {
  margin-bottom: 20px !important;
}
.bottom-30px {
  margin-bottom: 30px !important;
}
.bottom-60px {
  margin-bottom: 60px !important;
}
.bottom-80px {
  margin-bottom: 80px !important;
}
i.fa.tooltip-pad { padding-left: 5px; }

/* Mobile Styles*/
@media (max-width: 768px) {
  .content .global-search-group {
    display: table;
  }
  .nav > li.global-search-nav {
    display: none;
  }
  .navbar .navbar-nav > li > a {
    margin-bottom: 0;
  }
}
.read-more-btn {
  width: auto !important;
  display: inline-block !important;
}
.more-btn.bottom-btn {
  display: none !important;
}
.close-btn.top-btn div:after {
  content: "\f063";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 12px;
  margin-left: 2px;
}
.close-btn.bottom-btn div:after {
  content: "\f062";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 12px;
  margin-left: 2px;
}
