/* RESET EMAIL CLIENT STYLES */
img {
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

a img { border:0 none; }
table, td { border-collapse:collapse; }
/* RESET EMAIL CLIENT STYLES */

.email-bg {
  background-color: #F8F8F8;
  padding: 15px;
}

.email-container {
  width: 100%;
  border: 1px solid #F0F0F0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media (min-width: 576px) {
  .email-container {
    margin-left: 8px;
    margin-right: 8px;
    max-width: 75%;
  }
}

.email-body, .email-header
{
  padding: 20px;
  background-color: #FFFFFF;
}

.email-header {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #F8F8F8;
}

.logo-col
{
  text-align: center;
}

.logo_text
{
    white-space: nowrap;
    margin-right: 40px;
}

.email-header img
{
  max-height: 100px;
  display: inline-block;
  vertical-align: middle;
}

.email-header .email-col-12
{
  font-size: 26px;
}

.company-title
{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

h1, h2, h3, h4
{
  margin:0;
  margin-bottom: 4px;
  font-family: Helvetica;
}

h1, h2
{
  font-weight: bold;
}

.picture
{
  width: 92%;
  height: 120px;
  background-color: #CCC;
  font-weight: bold;
  text-align: center;
  padding-top: 4px;
  display: inline-block;
}

img
{
  max-width: 80%;
  vertical-align: middle;
}

.footer
{
  margin-top: 5px;
}

.footer-item
{
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
}

.email-row
{
  width: 99%;
  display: inline-block;
  margin-bottom: 12px;
}

.email-col-1, .email-col-2, .email-col-3, .email-col-4, .email-col-5,
.email-col-6, .email-col-7, .email-col-8, .email-col-9,
.email-col-10, .email-col-11, .email-col-12
{
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: .9%;
  padding-right: .9%;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 125%;
}

.email-info-box
{
  padding: 5px;
}

.email-light-text
{
  color: #B5B5B5;
  font-size: 11px;
}

.short-row
{
  margin-bottom: 2px;
}

.email-col-1
{
  width: 7.75%;
}

.email-col-2
{
  width: 14.5%;
}

.email-col-3
{
  width: 22.75%;
}

.email-col-4
{
  width: 31%;
}

.email-col-5
{
  width: 38.75%;
}

.email-col-6
{
  width: 46.5%;
}

.email-col-7
{
  width: 56%;
}

.email-col-8
{
  width: 64.25%;
}

.email-col-9
{
  width: 72.25%;
}

.email-col-10
{
  width: 80.5%;
}

.email-col-11
{
  width: 88.76%;
}

.email-col-12
{
  width: 100%;
}

.error
{
  color: red;
}

.text-align-center
{
  text-align: center;
}

table.action-table
{
  background-color: #E5E5E5;
}

table.action-table td
{
  border-width: 1px;
}

table
{
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color:#E3E3E3;
  border-collapse: collapse;
  border-spacing: 0;
}

td
{
  padding:3px;
}

tr.header-row
{
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 4px;
}

tr.header-row th
{
  padding: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: left;
}

tr.header-row th.text-right {
  text-align: right;
}

td.text-right {
  text-align: right;
}

tr.odd
{
  background-color: #E3E3E3;
}

tr.even
{
  background-color: #FFFFFF;
}

.email-btn-success
{
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
}

.email-action-box
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.email-action
{
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
  margin-right: 4px;
  border-right-style: solid;
  border-right-color: #000000;
  border-right-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  margin-right: 12px;
}

.info-table
{
  width: auto;
  border: 0 !important;
}

.info-table th
{
  padding-right: 40px;
  padding-left: 20px;
}

.table-title {
  margin-top: 10px;
  margin-left: 12px;
  font-size: 1.3em;
}

.greeting
{
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 6px;
}

.greeting .text
{
  margin-left: .9%;
  margin-right: .9%;
}

.greeting-row
{
  width: 100%;
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: center;
}

div
{
  box-sizing: border-box;
}

@media (max-width: 765px)
{
  .email-col-1, .email-col-2, .email-col-3, .email-col-4, .email-col-5,
  .email-col-6, .email-col-7, .email-col-8, .email-col-9,
  .email-col-10, .email-col-11, .email-col-12
  {
    display: block;
    width: auto;
  }

  .email-header .email-col-12
  {
    text-align: center;
  }

  img
  {
    max-width: inherit;
    height: 40px;
  }
}
