.chat-container li img {
  width: 48px;
  height: 48px;
  border-radius: 30px;
}

.user-chat-dropdown {
  padding-right: 0;
  margin-right: -5px;
  .ts-dropdown {
    top: auto;
    bottom: 100%;
  }
}

.no-caret.dropdown-toggle::after {
  content: none;
}

.chat-avatar .fa {
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 110px;
  display: inline-block;
  padding: 7px;
  background-color: #FFF;
  height: 45px;
  width: 45px;
  font-size: 24px;
}

.chat-avatar .chat-name {
  white-space: nowrap;
}

.chat-container li .chat-name {
  font-size: .75rem;
  color: #999999;
  text-align: center;
}

.chat-container li .chat-text {
  padding: .4rem 1rem;
  border-radius: 4px;
  background: #ffffff;
  font-weight: 300;
  line-height: 150%;
  position: relative;
}

.chat-container li .chat-text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent;
}

.chat-container li.chat-right > .chat-text:before {
  right: -20px;
  border-color: transparent transparent transparent #ffffff;
  left: inherit;
}

.chat-scroll-panel {
  height: calc(100vh - 300px);
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-container li.d-flex {
  align-items: flex-start;
}

.chat-avatar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.chat-container li .chat-text {
  display: inline-block;
  max-width: 70%;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.chat-text {
  pre {
    white-space: pre-wrap;
  }
}
