table {
  .table-col-xs   { min-width: 60px; }
  .table-col-sm   { min-width: 120px; }
  .table-col-md   { min-width: 180px; }
  .table-col-lg   { min-width: 250px; }
  .table-col-xl   { min-width: 400px; }
  .table-col-xxl  { min-width: 600px; }
}
