---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"example1052@example.com"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c177728b-f399-4641-a25f-5b18bba0b478
      X-Amz-Apigw-Id:
      - Zuv3OGzqiYcEnZQ=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1718994581'
      Twilio-Request-Id:
      - RQ2iCVWuc181CZRjrJ8qYlFmJ94nu
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"example1052@example.com","verdict":"Valid","score":0.91601,"local":"example1052","host":"example.com","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":true,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"38.85.141.230"}}'
  recorded_at: Fri, 21 Jun 2024 18:29:40 GMT
recorded_with: VCR 6.2.0
