---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"support@invest.ally.com"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 41a86f84-4476-4921-ad1a-4537d5d2ecc9
      X-Amz-Apigw-Id:
      - RHGAZEr3CYcEKtA=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1704533302'
      Twilio-Request-Id:
      - RQ2aZk53XsGOi5B5NsgPFsC2MDYqS
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"support@invest.ally.com","verdict":"Risky","score":0.29941,"local":"support","host":"invest.ally.com","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":true,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":true},"additional":{"has_known_bounces":false,"has_suspected_bounces":true}},"ip_address":"38.85.130.68"}}'
  recorded_at: Sat, 06 Jan 2024 09:28:21 GMT
recorded_with: VCR 6.2.0
