---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"example731@example.com"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 192fb7f9-b04e-4c06-91b0-2d72a089fe90
      X-Amz-Apigw-Id:
      - Vg3QSEhbiYcFUCg=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1658232629'
      Twilio-Request-Id:
      - RQ2CA5cWolnmQ514y92shied6tG0P
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"example731@example.com","verdict":"Valid","score":0.90646,"local":"example731","host":"example.com","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":true,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"67.190.197.70"}}'
  recorded_at: Tue, 19 Jul 2022 12:10:28 GMT
recorded_with: VCR 6.1.0
