---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"support@rubygems.co"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d58d9b31-bbc0-4d34-9e90-b1558326fc13
      X-Amz-Apigw-Id:
      - Zuv3IEogiYcENng=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1718994580'
      Twilio-Request-Id:
      - RQ2iCVWlzKNOQD0emZ55xrNOKaE7k
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"support@rubygems.co","verdict":"Invalid","score":0,"local":"support","host":"rubygems.co","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":false,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"38.85.141.230"}}'
  recorded_at: Fri, 21 Jun 2024 18:29:39 GMT
recorded_with: VCR 6.2.0
