---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"support@radicalbear.co"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f410aed6-78ce-4c0d-a4fc-c4e0a7b29eb7
      X-Amz-Apigw-Id:
      - G3YEEGAXiYcF9mw=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1687344052'
      Twilio-Request-Id:
      - RQ2RVnKNWaWe8MpRIXcWJaIYVIW2T
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"support@radicalbear.co","verdict":"Invalid","score":0,"local":"support","host":"radicalbear.co","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":false,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"67.190.197.70"}}'
  recorded_at: Wed, 21 Jun 2023 10:40:51 GMT
recorded_with: VCR 6.1.0
