---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"support@radicalbear.co"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - dfbdfb24-bc1b-45d9-b563-f8d4dabd0906
      X-Amz-Apigw-Id:
      - A3-mIFw7iYcFQlA=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1623606414'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"support@radicalbear.co","verdict":"Invalid","score":0,"local":"support","host":"radicalbear.co","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":false,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"67.190.226.185"}}'
  recorded_at: Sun, 13 Jun 2021 17:46:53 GMT
recorded_with: VCR 6.0.0
