---
http_interactions:
  - request:
      method: post
      uri: https://api.sendgrid.com/v3/validations/email
      body:
        encoding: UTF-8
        string: '{"email":"support@radicalbear.co"}'
      headers:
        Authorization:
          - Bearer <SENDGRID_API_KEY>
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Amzn-Requestid:
          - 479773ee-7473-46f1-a413-f863a093cdf5
        X-Amz-Apigw-Id:
          - QeGvBFjBiYcFi8g=
        X-Client-Ff:
          - '1000'
        X-Ratelimit-Remaining:
          - '6'
        X-Ratelimit-Limit:
          - '7'
        X-Ratelimit-Reset:
          - '1649771719'
        Twilio-Request-Id:
          - RQ27hUGtisMXOghB8U1niY9l6hGaK
        Powered-By:
          - Mako
      body:
        encoding: UTF-8
        string: '{"result":{"email":"support@radicalbear.co","verdict":"Invalid","score":0,"local":"support","host":"radicalbear.co","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":false,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"67.190.197.70"}}'
    recorded_at: Tue, 12 Apr 2022 13:55:18 GMT
recorded_with: VCR 6.1.0
