---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"support@rubygems.co"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f9b95040-72e0-46ea-9d17-cc153fef2bc1
      X-Amz-Apigw-Id:
      - XaAZqF77CYcEflA=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1715095409'
      Twilio-Request-Id:
      - RQ2g92KT3Zxt4Bh1n5nicc05EqwAh
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"support@rubygems.co","verdict":"Invalid","score":0,"local":"support","host":"rubygems.co","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":false,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"38.85.141.230"}}'
  recorded_at: Tue, 07 May 2024 15:23:28 GMT
recorded_with: VCR 6.2.0
