---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"example902@example.com"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 469a4650-1fc4-4065-b07f-022ad2aa750f
      X-Amz-Apigw-Id:
      - G3YEJExFCYcFrIg=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1687344052'
      Twilio-Request-Id:
      - RQ2RVnKRH7cifMuhi7f46UkVf87pW
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"example902@example.com","verdict":"Valid","score":0.91372,"local":"example902","host":"example.com","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":true,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"67.190.197.70"}}'
  recorded_at: Wed, 21 Jun 2023 10:40:51 GMT
recorded_with: VCR 6.1.0
