---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"example1023@example.com"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 327ac394-ebe8-46f1-a1f9-b6eb9537737f
      X-Amz-Apigw-Id:
      - XaAZwF2qCYcElrQ=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1715095410'
      Twilio-Request-Id:
      - RQ2g92KbcSEDLgKLixrXe0Pbw3IwW
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"example1023@example.com","verdict":"Valid","score":0.90883,"local":"example1023","host":"example.com","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":true,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"38.85.141.230"}}'
  recorded_at: Tue, 07 May 2024 15:23:29 GMT
recorded_with: VCR 6.2.0
