---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"example979@example.com"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 00eb9083-a2dc-4101-9de3-17439fd7a182
      X-Amz-Apigw-Id:
      - RHPyQFeeiYcECkQ=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1704537307'
      Twilio-Request-Id:
      - RQ2aZsCKkp5EvovPe2kBDxuHBgdqa
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"example979@example.com","verdict":"Valid","score":0.90861,"local":"example979","host":"example.com","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":true,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"38.85.130.68"}}'
  recorded_at: Sat, 06 Jan 2024 10:35:06 GMT
recorded_with: VCR 6.2.0
