---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"support@rubygems.co"}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 53d1f23c-df73-4d91-814a-fc81ab5f2a51
      X-Amz-Apigw-Id:
      - HX7zeGG5iYcED1w=
      X-Client-Ff:
      - '1000'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1741884643'
      Twilio-Request-Id:
      - RQ2uGpD4oOPKeqNcapO4T0fRYpfss
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"result":{"email":"support@rubygems.co","verdict":"Invalid","score":0,"local":"support","host":"rubygems.co","checks":{"domain":{"has_valid_address_syntax":true,"has_mx_or_a_record":false,"is_suspected_disposable_address":false},"local_part":{"is_suspected_role_address":false},"additional":{"has_known_bounces":false,"has_suspected_bounces":false}},"ip_address":"38.85.154.237"}}'
  recorded_at: Thu, 13 Mar 2025 16:50:42 GMT
recorded_with: VCR 6.3.1
