.btn-group
  %a{ class: 'btn btn-sm btn-secondary dropdown-toggle', 'data-bs-toggle': 'dropdown', href: '#' }
    %i.fa.fa-trash
    Test Dropdown
  %ul.dropdown-menu
    %li= link_to 'Option 1', '#'
    %li= link_to 'Option 2', '#'
