.card{ 'data-controller' => 'rad-calendar', 'data-rad-calendar-event-url-value' => '/divisions/calendar' }
  .card-body
    %div{ 'data-rad-calendar-target' => 'loading' }
      .text-center
        %h3.my-4
          %i.fa.fa-spinner.fa-spin
          %span Loading calendar...
    %div{ 'data-rad-calendar-target' => 'loaded' }
      %hr
      .mt-2
        %div{ 'data-rad-calendar-target' => 'calendar' }
