---
http_interactions:
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/FindObjects/findSortAndLimit?limit=25&offset=0&type=Receivable&xpath=@amountDue%20%3E%200
    body:
      encoding: UTF-8
      string: '[{"xpath":"@id","descending":true}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '["5545","5544","5542","5541","5540","5539","5538","5537","5533","5532","5531","5530","5529","5524","5523","5521","5520","5519","5517","5516","5515","5513","5512","5511","5510"]'
  recorded_at: Tue, 29 Jul 2025 14:10:39 GMT
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/ReadObject/readReceivable?primaryKey=5545
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sourceOrganizationCompany":null,"tags":null,"ioID":null,"templateLine":0,"dateTimeSetup":"2024-04-01T05:20:13","unpaidAmount":195.17,"discountApplied":0.0,"availRemainingDeposit":0,"id":5545,"description":"DSF
        Order 4382","status":"0","customer":"HOUSE","job":"13031","jobPart":"01","notes":null,"salesCategory":5012,"altCurrencyRate":1.0000000000,"invoiceAmount":195.170000,"taxAmount":10.870000,"altCurrency":"USD","glRegisterNumber":"AR2024621","invoiceDate":"2024-04-01","salutation":0,"taxableCode":1,"glLocation":0,"dueDate":"2024-05-01","glAccountingPeriod":5190,"poNumber":null,"contactFirstName":"Internal","contactLastName":"Customer","altCurrencyRateSourceNote":"5598","altCurrencyRateSource":"Invoice","legalEntity":0,"customerType":1,"targetSell":299.085600,"commissionBase":116.000000,"chargeBackAccount":null,"commissionRate":0.0000,"taxBase":116.000000,"reversal":0,"lastDunningDate":null,"debitCreditReason":0,"formNumber":null,"reversalOf":0,"amountDue":195.170000,"datePaidOff":null,"orginalBatchId":5509,"commissionAmount":0.000000,"discountBase":116.000000,"invoiceNumber":"1302","depositType":0,"discountBaseForced":false,"businessUnit":null,"freightAmount":39.300000,"expectedPaymentDate":"2024-05-01","originalId":0,"pay":false,"originalAmount":184.300000,"taxRate13Amount":0,"taxRate7Amount":0,"taxRate23Amount":0,"taxRate1Amount":0,"taxRate10Amount":0,"taxRate4Amount":0,"taxRate20Amount":0,"taxRate9Amount":0,"taxRate25Amount":0,"taxRate15Amount":0,"taxRate12Amount":0,"taxRate22Amount":0,"taxRate6Amount":0,"taxRate17Amount":0,"taxRate2Amount":0,"taxRate8Amount":0,"taxRate24Amount":0,"taxRate3Amount":0,"taxRate14Amount":0,"taxRate16Amount":0,"taxRate19Amount":0,"pnref":null,"dateCommissionLost":null,"dateCommissionPaid":null,"taxRate5Amount":0,"taxRate11Amount":0,"taxRate21Amount":0,"taxRate18Amount":0,"discountAvailable":0.000000,"overallBillingJournalEntry":8156,"overallCurrencyExchangeJournalEntry":0,"collectionNotes":null,"sendDunningLetter":true,"depositPayment":0,"lastDunningAgingCategory":null,"discountDate":"2024-04-01","applianceId":null,"depositCheckNumber":null,"nextDunningAgingCategory":null,"agingCategory":null,"applyAmount":0}'
  recorded_at: Tue, 29 Jul 2025 14:10:39 GMT
[...]
- request:
    method: post
    uri: https://radstackmis.myprintdesk.net/rpc/rest/services/FindObjects/loadValueObjects
    body:
      encoding: UTF-8
      string: '{"objectName":"Receivable","fields":[],"offset":0,"limit":1000,"xpathSorts":[],"children":[],"xpathFilter":"@amountDue
        \u003e 0","primaryKey":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UmFkU3RhY2s6Y09tcGwzeF9wQDU1dzByZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"valueObjects":[{"fields":[],"children":[],"objectName":"Receivable","primaryKey":"5001"},{"fields":[],"children":[],"objectName":"Receivable","primaryKey":"5002"},{"fields":[],"children":[],"objectName":"Receivable","primaryKey":"5004"},{"fields":[],"children":[],"objectName":"Receivable","primaryKey":"5005"},{"fields":[],"children":[],"objectName":"Receivable","primaryKey":"5006"},{"fields":[],"children":[],"objectName":"Receivable","primaryKey":"5007"},{"fields":[],"children":[],"objectName":"Receivable","p[...]
