---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9045035030?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ31ccdb1c3e8b43eda7540a64d83a0cc7
      Twilio-Request-Duration:
      - '0.061'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19045035030",
        "national_format": "(904) 503-5030", "carrier": {"mobile_country_code": null,
        "mobile_network_code": null, "name": "Bandwidth SMSEnabled - Bandwidth CLEC
        - Sybase365", "type": "voip", "error_code": null}, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+19045035030?Type=carrier"}'
  recorded_at: Mon, 16 Dec 2019 14:44:02 GMT
recorded_with: VCR 5.0.0
