---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ0444140a212943aaa9483b98b7cc36ac
      Twilio-Request-Duration:
      - '0.010'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /PhoneNumbers/1234
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Mon, 28 Oct 2019 13:10:57 GMT
recorded_with: VCR 5.0.0
