---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_PHONE_NUMBER>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ4276c6c155f54123998cf90f04f9f730
      Twilio-Request-Duration:
      - '0.037'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+1<TEST_PHONE_NUMBER>",
        "national_format": "<TEST_PHONE_NUMBER>", "carrier": null, "add_ons": null,
        "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_PHONE_NUMBER>"}'
  recorded_at: Thu, 30 Jul 2020 15:12:42 GMT
recorded_with: VCR 6.0.0
