---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_MOBILE_PHONE>?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ14b01dc976814471a3311c562f5d4199
      Twilio-Request-Duration:
      - '0.026'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+1<TEST_MOBILE_PHONE>",
        "national_format": "<TEST_MOBILE_PHONE>", "carrier": {"mobile_country_code":
        "311", "mobile_network_code": "180", "name": "AT&T Wireless", "type": "mobile",
        "error_code": null}, "add_ons": null, "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_MOBILE_PHONE>?Type=carrier"}'
  recorded_at: Thu, 30 Jul 2020 15:12:43 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_MOBILE_PHONE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ23c7e3bf0d6440d0954bca42f5c7db7d
      Twilio-Request-Duration:
      - '0.014'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+1<TEST_MOBILE_PHONE>",
        "national_format": "<TEST_MOBILE_PHONE>", "carrier": null, "add_ons": null,
        "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_MOBILE_PHONE>"}'
  recorded_at: Thu, 30 Jul 2020 15:12:43 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/<TEST_MOBILE_PHONE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ1154924ed5664cf08321c7382ce3ff3a
      Twilio-Request-Duration:
      - '0.022'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+1<TEST_MOBILE_PHONE>",
        "national_format": "<TEST_MOBILE_PHONE>", "carrier": null, "add_ons": null,
        "url": "https://lookups.twilio.com/v1/PhoneNumbers/+1<TEST_MOBILE_PHONE>"}'
  recorded_at: Thu, 30 Jul 2020 15:12:43 GMT
recorded_with: VCR 6.0.0
