---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9043252071
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQc1c5d1aa1cc84f9b90f6f9e5d2e44c96
      Twilio-Request-Duration:
      - '0.013'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19043252071",
        "national_format": "(904) 325-2071", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+19043252071"}'
  recorded_at: Mon, 28 Oct 2019 13:10:56 GMT
[...]
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9043252071
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQfe65e2beefd94a82866029714b953b71
      Twilio-Request-Duration:
      - '0.012'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19043252071",
        "national_format": "(904) 325-2071", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+19043252071"}'
  recorded_at: Mon, 28 Oct 2019 13:10:56 GMT
recorded_with: VCR 5.0.0
