---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9043252071?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ7f023ab0e288463aabdea36213e22768
      Twilio-Request-Duration:
      - '0.040'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19043252071",
        "national_format": "(904) 325-2071", "carrier": {"mobile_country_code": "310",
        "mobile_network_code": "160", "name": "T-Mobile USA, Inc. (form. Metro PCS,
        Inc.)", "type": "mobile", "error_code": null}, "add_ons": null, "url": "https://lookups.twilio.com/v1/PhoneNumbers/+19043252071?Type=carrier"}'
  recorded_at: Mon, 16 Dec 2019 14:42:16 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9043252071
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQa5bab69bf9904ec5b0e384a62787aacc
      Twilio-Request-Duration:
      - '0.015'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19043252071",
        "national_format": "(904) 325-2071", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+19043252071"}'
  recorded_at: Mon, 16 Dec 2019 14:42:17 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9043252071
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQa2217836fe9444eda09f3da20b723a04
      Twilio-Request-Duration:
      - '0.016'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19043252071",
        "national_format": "(904) 325-2071", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+19043252071"}'
  recorded_at: Mon, 16 Dec 2019 14:42:17 GMT
recorded_with: VCR 5.0.0
