---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9043252071
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ18b8384c51024de29ed35489ea249965
      Twilio-Request-Duration:
      - '0.015'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19043252071",
        "national_format": "(904) 325-2071", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+19043252071"}'
  recorded_at: Mon, 28 Oct 2019 13:10:55 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/9043252071
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMzZjA1YzEyZjBkYjA2ZGVmNDc3ZTVmMDdlMDRkM2Y0MjpmNDhmMTYzMjRiMjMyOTVjYWJiOWNiNTI1MDU3ZDE3Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ575e916dedaa4d3195ebcdd0726d158a
      Twilio-Request-Duration:
      - '0.016'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - lookups.twilio.com
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+19043252071",
        "national_format": "(904) 325-2071", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+19043252071"}'
  recorded_at: Mon, 28 Oct 2019 13:10:55 GMT
recorded_with: VCR 5.0.0
