---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Dinsmore&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=FL&street=11556%20Braddock%20Road&street2&urbanization&zipcode=32219
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"11556 Braddock
        Rd","last_line":"Dinsmore FL 32219-1808","delivery_point_barcode":"322191808","smarty_key":"752335565","components":{"primary_number":"11556","street_name":"Braddock","street_suffix":"Rd","city_name":"Dinsmore","default_city_name":"Jacksonville","state_abbreviation":"FL","zipcode":"32219","plus4_code":"1808"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"12031","county_name":"Duval","carrier_route":"R201","congressional_district":"04","latitude":30.44324,"longitude":-81.7588,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"N","dpv_footnotes":"AAM3","active":"Y","footnotes":"N#","enhanced_match":"non-postal-match"}}]

        '
  recorded_at: Tue, 23 Sep 2025 15:17:31 GMT
recorded_with: VCR 6.3.1
