---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Onalaska&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=WI&street=331%20Theater%20Rd&street2&urbanization&zipcode=54650
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"331 Theater
        Rd","last_line":"Onalaska WI 54650-8524","delivery_point_barcode":"546508524317","smarty_key":"256512555","components":{"primary_number":"331","street_name":"Theater","street_suffix":"Rd","city_name":"Onalaska","default_city_name":"Onalaska","state_abbreviation":"WI","zipcode":"54650","plus4_code":"8524","delivery_point":"31","delivery_point_check_digit":"7"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"55063","county_name":"La
        Crosse","carrier_route":"R018","congressional_district":"03","rdi":"Commercial","elot_sequence":"0133","elot_sort":"A","latitude":43.87811,"longitude":-91.19573,"precision":"Zip9","time_zone":"Central","utc_offset":-6,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"N","active":"Y","enhanced_match":"postal-match"}}]

        '
  recorded_at: Sat, 14 Feb 2026 10:14:30 GMT
recorded_with: VCR 6.4.0
