---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Mordor&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=FL&street=4000%20Bro%20Bruh&street2&urbanization&zipcode=32816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"4000 Bro Bruh","last_line":"Mordor
        FL","components":{"primary_number":"4000","street_name":"Bro Bruh","city_name":"Mordor","state_abbreviation":"FL"},"metadata":{"precision":"Unknown"},"analysis":{"dpv_footnotes":"A1","active":"Y","footnotes":"C#","enhanced_match":"none"}}]

        '
  recorded_at: Mon, 05 Feb 2024 13:13:44 GMT
recorded_with: VCR 6.2.0
