---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Mordor&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=FL&street=4000%20Bro%20Bruh&street2&urbanization&zipcode=32751
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"4000 Bro Bruh","last_line":"Mordor
        FL 32751","delivery_point_barcode":"32751","components":{"primary_number":"4000","street_name":"Bro
        Bruh","city_name":"Mordor","default_city_name":"Maitland","state_abbreviation":"FL","zipcode":"32751"},"metadata":{"zip_type":"Standard","county_fips":"12095","county_name":"Orange","latitude":28.62954,"longitude":-81.36524,"precision":"Zip5","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_footnotes":"A1","active":"Y","footnotes":"F#","enhanced_match":"none"}}]

        '
  recorded_at: Thu, 13 Mar 2025 16:49:27 GMT
recorded_with: VCR 6.3.1
