---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Jacksonville&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=FL&street=3615%20Dupont%20Avenue&street2&urbanization&zipcode=32217
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"3615 DuPont
        Ave","last_line":"Jacksonville FL 32217-2790","delivery_point_barcode":"322172790999","components":{"primary_number":"3615","street_name":"DuPont","street_suffix":"Ave","city_name":"Jacksonville","default_city_name":"Jacksonville","state_abbreviation":"FL","zipcode":"32217","plus4_code":"2790","delivery_point":"99","delivery_point_check_digit":"9"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"12031","county_name":"Duval","carrier_route":"C042","congressional_district":"05","building_default_indicator":"Y","rdi":"Commercial","elot_sequence":"0400","elot_sort":"A","latitude":30.2555,"longitude":-81.6241,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"Y","active":"Y","footnotes":"H#N#","enhanced_match":"postal-match,missing-secondary"}}]

        '
  recorded_at: Fri, 07 Jun 2024 12:13:33 GMT
recorded_with: VCR 6.2.0
