---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Jacksonville&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=FL&street=3615%20Dupont%20Avenue&street2&urbanization&zipcode=32217
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"3615 DuPont
        Ave","last_line":"Jacksonville FL 32217-2790","components":{"primary_number":"3615","street_name":"DuPont","street_suffix":"Ave","city_name":"Jacksonville","default_city_name":"Jacksonville","state_abbreviation":"FL","zipcode":"32217","plus4_code":"2790","delivery_point":"99","delivery_point_check_digit":"9"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"12031","county_name":"Duval","carrier_route":"C042","building_default_indicator":"Y","elot_sequence":"0385","elot_sort":"A","latitude":30.255500,"longitude":-81.624100,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"Y","active":"Y","footnotes":"H#N#"}}]'
  recorded_at: Thu, 22 Sep 2022 09:31:33 GMT
recorded_with: VCR 6.1.0
