---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/us_verifications
    body:
      encoding: UTF-8
      string: primary_line=4000+Bro+Bruh&secondary_line&city=Mordor&state=fl&zip_code=32816
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic bGl2ZV8yOGUxY2VkMTYwNGZiYzFiZjY3ZDk3YjNhNjBjYTMwNjNhNjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1658414276'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": "us_ver_4e36027b418d48039581",
            "recipient": "",
            "primary_line": "4000 BRO BRUH",
            "secondary_line": "",
            "urbanization": "",
            "last_line": "MORDOR FL",
            "deliverability": "undeliverable",
            "valid_address": false,
            "components": {
                "primary_number": "4000",
                "street_predirection": "",
                "street_name": "BRO BRUH",
                "street_suffix": "",
                "street_postdirection": "",
                "secondary_designator": "",
                "secondary_number": "",
                "pmb_designator": "",
                "pmb_number": "",
                "extra_secondary_designator": "",
                "extra_secondary_number": "",
                "city": "MORDOR",
                "state": "FL",
                "zip_code": "",
                "zip_code_plus_4": "",
                "zip_code_type": "unique",
                "delivery_point_barcode": "",
                "address_type": "",
                "record_type": "",
                "default_building_address": false,
                "county": "",
                "county_fips": "",
                "carrier_route": "",
                "carrier_route_type": "",
                "latitude": null,
                "longitude": null
            },
            "deliverability_analysis": {
                "dpv_confirmation": "",
                "dpv_cmra": "",
                "dpv_vacant": "",
                "dpv_active": "",
                "dpv_footnotes": [
                    "A1"
                ],
                "ews_match": false,
                "lacs_indicator": "N",
                "lacs_return_code": "00",
                "suite_return_code": ""
            },
            "lob_confidence_score": {
                "score": null,
                "level": ""
            },
            "object": "us_verification"
        }
  recorded_at: Thu, 21 Jul 2022 14:37:53 GMT
recorded_with: VCR 6.1.0
