---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=JacksonvillE&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=fL&street=1376%20Macarthur%20Street&street2&urbanization&zipcode=32205
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"1376 MacArthur
        St","last_line":"Jacksonville FL 32205-8914","components":{"primary_number":"1376","street_name":"MacArthur","street_suffix":"St","city_name":"Jacksonville","default_city_name":"Jacksonville","state_abbreviation":"FL","zipcode":"32205","plus4_code":"8914","delivery_point":"76","delivery_point_check_digit":"3"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"12031","county_name":"Duval","carrier_route":"C007","elot_sequence":"0059","elot_sort":"A","latitude":30.299790,"longitude":-81.717200,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"N","active":"Y","footnotes":"N#"}}]'
  recorded_at: Thu, 22 Sep 2022 09:31:32 GMT
recorded_with: VCR 6.1.0
