---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/us_verifications
    body:
      encoding: UTF-8
      string: primary_line=8110+Mittie+Ave&secondary_line&city=Panama+City&state=FL&zip_code=324040000
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic bGl2ZV8yOGUxY2VkMTYwNGZiYzFiZjY3ZDk3YjNhNjBjYTMwNjNhNjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1658937822'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": "us_ver_69f7d6ebbf8946a5b1e7",
            "recipient": "",
            "primary_line": "8110 MITTIE AVE",
            "secondary_line": "",
            "urbanization": "",
            "last_line": "PANAMA CITY FL 32404-5273",
            "deliverability": "deliverable",
            "valid_address": true,
            "components": {
                "primary_number": "8110",
                "street_predirection": "",
                "street_name": "MITTIE",
                "street_suffix": "AVE",
                "street_postdirection": "",
                "secondary_designator": "",
                "secondary_number": "",
                "pmb_designator": "",
                "pmb_number": "",
                "extra_secondary_designator": "",
                "extra_secondary_number": "",
                "city": "PANAMA CITY",
                "state": "FL",
                "zip_code": "32404",
                "zip_code_plus_4": "5273",
                "zip_code_type": "standard",
                "delivery_point_barcode": "324045273109",
                "address_type": "residential",
                "record_type": "street",
                "default_building_address": false,
                "county": "BAY",
                "county_fips": "12005",
                "carrier_route": "R008",
                "carrier_route_type": "rural_route",
                "latitude": 30.296411,
                "longitude": -85.575595
            },
            "deliverability_analysis": {
                "dpv_confirmation": "Y",
                "dpv_cmra": "N",
                "dpv_vacant": "N",
                "dpv_active": "Y",
                "dpv_footnotes": [
                    "AA",
                    "BB"
                ],
                "ews_match": false,
                "lacs_indicator": "",
                "lacs_return_code": "",
                "suite_return_code": ""
            },
            "lob_confidence_score": {
                "score": 100,
                "level": "high"
            },
            "object": "us_verification"
        }
  recorded_at: Wed, 27 Jul 2022 16:03:38 GMT
recorded_with: VCR 6.1.0
