---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/us_verifications
    body:
      encoding: UTF-8
      string: primary_line=3615+Dupont+Avenue&secondary_line&city=Jacksonville&state=FL&zip_code=32217
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic bGl2ZV8yOGUxY2VkMTYwNGZiYzFiZjY3ZDk3YjNhNjBjYTMwNjNhNjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1659026828'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": "us_ver_f2007f4d45ca4505900c",
            "recipient": "",
            "primary_line": "3615 DUPONT AVE",
            "secondary_line": "",
            "urbanization": "",
            "last_line": "JACKSONVILLE FL 32217-2790",
            "deliverability": "deliverable_missing_unit",
            "valid_address": true,
            "components": {
                "primary_number": "3615",
                "street_predirection": "",
                "street_name": "DUPONT",
                "street_suffix": "AVE",
                "street_postdirection": "",
                "secondary_designator": "",
                "secondary_number": "",
                "pmb_designator": "",
                "pmb_number": "",
                "extra_secondary_designator": "",
                "extra_secondary_number": "",
                "city": "JACKSONVILLE",
                "state": "FL",
                "zip_code": "32217",
                "zip_code_plus_4": "2790",
                "zip_code_type": "standard",
                "delivery_point_barcode": "322172790999",
                "address_type": "commercial",
                "record_type": "highrise",
                "default_building_address": true,
                "county": "DUVAL",
                "county_fips": "12031",
                "carrier_route": "C042",
                "carrier_route_type": "city_delivery",
                "latitude": 30.256034,
                "longitude": -81.625141
            },
            "deliverability_analysis": {
                "dpv_confirmation": "D",
                "dpv_cmra": "N",
                "dpv_vacant": "N",
                "dpv_active": "N",
                "dpv_footnotes": [
                    "AA",
                    "N1"
                ],
                "ews_match": false,
                "lacs_indicator": "",
                "lacs_return_code": "",
                "suite_return_code": ""
            },
            "lob_confidence_score": {
                "score": 0,
                "level": "low"
            },
            "object": "us_verification"
        }
  recorded_at: Thu, 28 Jul 2022 16:47:03 GMT
recorded_with: VCR 6.1.0
