---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Oakland&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary=Apt%20%231&state=CA&street=1921%20East%2024th%20Street&street2&urbanization&zipcode=94600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"1921 E 24th
        St Apt 1","last_line":"Oakland CA 94606-4138","components":{"primary_number":"1921","street_predirection":"E","street_name":"24th","street_suffix":"St","secondary_number":"1","secondary_designator":"Apt","city_name":"Oakland","default_city_name":"Oakland","state_abbreviation":"CA","zipcode":"94606","plus4_code":"4138","delivery_point":"21","delivery_point_check_digit":"6"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"06001","county_name":"Alameda","carrier_route":"C027","elot_sequence":"0113","elot_sort":"A","latitude":37.79321,"longitude":-122.23336,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"S","dpv_footnotes":"AABBCC","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"N","active":"Y","footnotes":"A#N#","enhanced_match":"postal-match,unknown-secondary,ignored-input"}}]

        '
  recorded_at: Mon, 05 Feb 2024 13:13:45 GMT
recorded_with: VCR 6.2.0
