---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?addressee&auth-id=9283ece8-9b06-c80d-a885-7dbdf8787a9a&auth-token=E9ugDBmSu4LW3CG6PNhp&candidates=1&city=OrLando&input_id&lastline&license=us-core-cloud&match&secondary=Suite%201000&state=fl&street=4000%20Central%20Florida%20Boulevard&street2&urbanization&zipcode=32816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"4000 Central
        Florida Blvd Ste 1000","last_line":"Orlando FL 32816-8005","delivery_point_barcode":"328168005007","components":{"primary_number":"4000","street_name":"Central
        Florida","street_suffix":"Blvd","secondary_number":"1000","secondary_designator":"Ste","city_name":"Orlando","default_city_name":"Orlando","state_abbreviation":"FL","zipcode":"32816","plus4_code":"8005","delivery_point":"00","delivery_point_check_digit":"7"},"metadata":{"record_type":"S","zip_type":"Unique","county_fips":"12095","county_name":"Orange","carrier_route":"C000","congressional_district":"07","rdi":"Commercial","elot_sequence":"0001","elot_sort":"A","latitude":28.596080,"longitude":-81.204030,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AAU1","active":"Y","footnotes":"N#Q#"}}]'
  recorded_at: Thu, 21 Jul 2022 14:03:44 GMT
recorded_with: VCR 6.1.0
