---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=OrLando&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=fl&street=4000%20Central%20Florida%20Boulevard&street2&urbanization&zipcode=32816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"4000 Central
        Florida Blvd","last_line":"Orlando FL 32816-8005","delivery_point_barcode":"328168005007","smarty_key":"766350516","components":{"primary_number":"4000","street_name":"Central
        Florida","street_suffix":"Blvd","city_name":"Orlando","default_city_name":"Orlando","state_abbreviation":"FL","zipcode":"32816","plus4_code":"8005","delivery_point":"00","delivery_point_check_digit":"7"},"metadata":{"record_type":"S","zip_type":"Unique","county_fips":"12095","county_name":"Orange","carrier_route":"C000","congressional_district":"10","rdi":"Commercial","elot_sequence":"0001","elot_sort":"A","latitude":28.59608,"longitude":-81.20403,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AAU1","active":"Y","footnotes":"N#Q#","enhanced_match":"postal-match"}}]

        '
  recorded_at: Thu, 13 Mar 2025 16:45:45 GMT
recorded_with: VCR 6.3.1
