---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=OrLando&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=fl&street=Post%20Office%20Box%2039&street2&urbanization&zipcode=32816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"Post Office
        Box 39","last_line":"Orlando FL 32816-0001","delivery_point_barcode":"328160001397","components":{"primary_number":"39","street_name":"Post
        Office Box","city_name":"Orlando","default_city_name":"Orlando","state_abbreviation":"FL","zipcode":"32816","plus4_code":"0001","delivery_point":"39","delivery_point_check_digit":"7"},"metadata":{"record_type":"P","zip_type":"Unique","county_fips":"12095","county_name":"Orange","carrier_route":"B001","congressional_district":"10","rdi":"Commercial","elot_sequence":"0001","elot_sort":"D","latitude":28.60187,"longitude":-81.20044,"precision":"Zip5","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AAU1","active":"Y","footnotes":"Q#X#","enhanced_match":"postal-match"}}]

        '
  recorded_at: Thu, 06 Mar 2025 14:36:03 GMT
recorded_with: VCR 6.3.1
