---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Panama%20City&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=FL&street=8110%20Mittie%20Ave&street2&urbanization&zipcode=32404333
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"8110 Mittie
        Ave","last_line":"Panama City FL 32404-5273","delivery_point_barcode":"324045273109","components":{"primary_number":"8110","street_name":"Mittie","street_suffix":"Ave","city_name":"Panama
        City","default_city_name":"Panama City","state_abbreviation":"FL","zipcode":"32404","plus4_code":"5273","delivery_point":"10","delivery_point_check_digit":"9"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"12005","county_name":"Bay","carrier_route":"R008","congressional_district":"02","rdi":"Residential","elot_sequence":"0103","elot_sort":"A","latitude":30.29684,"longitude":-85.57602,"precision":"Zip9","time_zone":"Central","utc_offset":-6,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"N","active":"Y","enhanced_match":"postal-match"}}]

        '
  recorded_at: Tue, 07 May 2024 15:20:54 GMT
recorded_with: VCR 6.2.0
