---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=Palm%20Coast&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=FL&street=2%20Buttonwood%20Lane&street2&urbanization&zipcode=32137
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"2 Buttonwood
        Ln","last_line":"Palm Coast FL 32137-9406","components":{"primary_number":"2","street_name":"Buttonwood","street_suffix":"Ln","city_name":"Palm
        Coast","default_city_name":"Palm Coast","state_abbreviation":"FL","zipcode":"32137","plus4_code":"9406"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"12035","county_name":"Flagler","carrier_route":"R070","latitude":29.5913,"longitude":-81.25356,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"N","dpv_footnotes":"AAM3","active":"Y","footnotes":"N#","enhanced_match":"non-postal-match,missing-secondary"}}]

        '
  recorded_at: Mon, 05 Feb 2024 13:13:43 GMT
recorded_with: VCR 6.2.0
