---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/us_verifications
    body:
      encoding: UTF-8
      string: primary_line=6450+Autumn+Berry+Cirlce&secondary_line&city=Jacksonville&state=FL&zip_code=32258
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic bGl2ZV8yOGUxY2VkMTYwNGZiYzFiZjY3ZDk3YjNhNjBjYTMwNjNhNjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1658937823'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": "us_ver_1565da72023d4c66856c",
            "recipient": "",
            "primary_line": "6450 AUTUMN BERRY CIR",
            "secondary_line": "",
            "urbanization": "",
            "last_line": "JACKSONVILLE FL 32258",
            "deliverability": "undeliverable",
            "valid_address": true,
            "components": {
                "primary_number": "6450",
                "street_predirection": "",
                "street_name": "AUTUMN BERRY",
                "street_suffix": "CIR",
                "street_postdirection": "",
                "secondary_designator": "",
                "secondary_number": "",
                "pmb_designator": "",
                "pmb_number": "",
                "extra_secondary_designator": "",
                "extra_secondary_number": "",
                "city": "JACKSONVILLE",
                "state": "FL",
                "zip_code": "32258",
                "zip_code_plus_4": "",
                "zip_code_type": "standard",
                "delivery_point_barcode": "",
                "address_type": "",
                "record_type": "",
                "default_building_address": false,
                "county": "DUVAL",
                "county_fips": "12031",
                "carrier_route": "R057",
                "carrier_route_type": "rural_route",
                "latitude": 30.128139,
                "longitude": -81.541622
            },
            "deliverability_analysis": {
                "dpv_confirmation": "N",
                "dpv_cmra": "",
                "dpv_vacant": "",
                "dpv_active": "",
                "dpv_footnotes": [
                    "AA",
                    "M3"
                ],
                "ews_match": false,
                "lacs_indicator": "",
                "lacs_return_code": "",
                "suite_return_code": ""
            },
            "lob_confidence_score": {
                "score": null,
                "level": ""
            },
            "object": "us_verification"
        }
  recorded_at: Wed, 27 Jul 2022 16:03:40 GMT
recorded_with: VCR 6.1.0
