---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smarty.com/street-address?addressee&auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>&candidates=1&city=OrLando&format&input_id&lastline&license=us-core-cloud&match=enhanced&secondary&state=fl&street=Post%20Office%20Box%2039&street2&urbanization&zipcode=32816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"PO Box 39","last_line":"Orlando
        FL 32815-1039","delivery_point_barcode":"328151039396","components":{"primary_number":"39","street_name":"PO
        Box","city_name":"Orlando","default_city_name":"Orlando","state_abbreviation":"FL","zipcode":"32815","plus4_code":"1039","delivery_point":"39","delivery_point_check_digit":"6"},"metadata":{"record_type":"P","zip_type":"POBox","county_fips":"12009","county_name":"Brevard","carrier_route":"B001","congressional_district":"10","rdi":"Residential","elot_sequence":"0001","elot_sort":"A","latitude":28.52435,"longitude":-80.65078,"precision":"Zip5","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"Y","dpv_no_stat":"Y","active":"Y","footnotes":"A#N#","enhanced_match":"postal-match"}}]

        '
  recorded_at: Fri, 07 Jun 2024 12:13:33 GMT
recorded_with: VCR 6.2.0
