%li.chat-right.justify-content-end.mb-3.d-flex.w-100
  .chat-text.shadow-md
    %pre= assistant_session_text_sanitize(message)
  .chat-avatar.ms-3
    - if local_assigns[:user]&.avatar&.attached?
      = image_tag(user.avatar.variant(resize_to_limit: [50, 50]), class: 'shadow-md')
    - else
      %i.fa.fa-user.shadow-md
    .chat-name.mt-1
      = user_name
      %br
      %strong= chat_date
