- messages = assistant_session_log_list(assistant_session)
- if messages.present?
  = render 'chat/messages', messages: messages
- else
  = render 'assistant_sessions/initial_chat_message', assistant_session: assistant_session
