- if record.bypass_address_validation?
  %span.badge.alert-warning
    address validation bypassed
- elsif record.address_problems?
  %span.badge.alert-danger
    unknown address, not deliverable
- elsif record.address_changes.present?
  %span.badge.alert-warning
    = record.address_changes.values.reverse.join(', ')
    - record.update_column :address_changes, nil
