- if record.bypass_address_validation?
  %span.badge.alert-warning
    address validation bypassed
- elsif record.address_problems?
  %span.badge.alert-danger
    = record.address_problems
- elsif record.address_changes.present?
  %span.badge.alert-warning
    = record.address_changes.values.reverse.join(', ')
    - record.clear_address_changes!
