- calendar_view_path = local_assigns[:calendar_path]
- initial_view = local_assigns[:initial_view]
- open_in_new_tab = local_assigns.fetch(:open_in_new_tab, false)

.card{ 'data-controller' => 'rad-calendar',
       'data-rad-calendar-event-url-value' => calendar_view_path,
       'data-rad-calendar-initial-view-value' => initial_view,
       'data-rad-calendar-open-in-new-tab-value' => open_in_new_tab }
  .card-header
    .row
      .col-md-3.d-flex.align-items-center
        = label_tag :date, 'Jump to Date:', class: 'mr-3 mb-0'
        %span
          = date_field_tag :date,
                           nil,
                           class: 'form-control',
                           data: { rad_calendar_target: 'datepicker', action: 'change->rad-calendar#datepickerChanged' }
  .card-body
    %div{ 'data-rad-calendar-target' => 'loading' }
      .text-center
        %h3.my-4
          %i.fa.fa-spinner.fa-spin
          %span Loading calendar...
    %div{ 'data-rad-calendar-target' => 'loaded' }
      .mt-2
        %div{ 'data-rad-calendar-target' => 'calendar' }
