= simple_form_for :search, url: path, method: :get do |f|
  .row
    -search.filters.each do |filter|
      .col-lg
        = f.input filter.searchable_name, collection: filter.input_options, label: filter.input_label, selected: search.selected_value(filter.searchable_name), include_blank: filter.blank_value_label,
                    as: filter.input_type, group_method: :last, required: false,
                    input_html: { class: 'selectpicker', multiple: filter.multiple, 'data-live-search' => true,  'data-style' => 'btn ' + ( search.selected_value(filter.column).blank? ? 'btn-success' : 'btn-warning' ) }

  .form-actions
    = f.button :button, class: 'btn btn-success' do
      %i.fa.fa-filter
      Apply Filters
    \
    = link_to path + '?clear_filters=true', class: 'btn btn-danger' do
      %i.fa.fa-times
      Clear Filters
    %br
    %br