= f.input filter.phone_numbers_input,
          input_html: { value: search.search_params[filter.phone_numbers_input] },
          as: :text,
          label: filter.input_label,
          required: false
