= render 'layouts/match_type_dropdown', filter: filter, search: search, f: f

= f.input filter.searchable_name,
          label: false,
          input_html: { value: search.search_params[filter.like_input] },
          required: false
