= f.input filter.searchable_name, collection: filter.input_options, label: filter.input_label,
                                  selected: search.selected_value(filter.searchable_name) || filter.default_value, include_blank: filter.blank_value_label,
                                  as: filter.input_type, group_method: :last, required: false, label_method: filter.label_method,
                                  input_html: { class: 'selectpicker',
                                                multiple: filter.multiple,
                                                'data-live-search': true,
                                                'data-style': 'btn ' + ( search.blank?(filter.column) || search.default_value?(filter.column) ? 'btn-success' : 'btn-warning' ) }