= f.input filter.searchable_name, as: :text,
                                  label: filter.input_label,
                                  required: false,
                                  tooltip: 'Use comma separated values for multiple entries',
                                  input_html: { value: search.search_params[filter.searchable_name] }
