- data_style = "btn #{search.default_value?(filter.searchable_name) ? 'btn-light' : 'btn-warning'}"

= f.input filter.searchable_name,
          collection: filter.input_options,
          label: filter.input_label,
          selected: filter.selected_value(search),
          include_blank: filter.include_blank ? filter.blank_value_label : false,
          as: filter.input_type,
          group_method: :last,
          required: false,
          label_method: filter.label_method,
          input_html: { class: 'selectpicker',
                        multiple: filter.multiple,
                        'data-live-search': true,
                        'data-style': data_style }
