- if user_signed_in?
  - if show_reset_duplicates_link?
    .row
      .col-lg-12
        .float-right
          - confirm_message = 'This will reset non-duplicates and regenerate possible matches for this record, proceed?'

          = link_to 'Reset Duplicates',
                    reset_duplicates_path(model: current_instance_variable.class, id: current_instance_variable.id),
                    method: :put,
                    data: { confirm: confirm_message }
  - if show_auditing?
    .float-right
      = link_to 'Show History', audit_history_link
      - if current_instance_variable.is_a?(User)
        %br
        = link_to "Show Changes Made by #{@user}", user_audit_history_link(@user)
