- if user_signed_in? && current_user
  - search_scopes = global_search_scopes.reject { |item| item[:hide_global_nav] }

  - if search_scopes.any?
    = form_tag('/rad_common/global_search_result', method: :get) do
      .global-search-group
        .input-group
          .input-group-prepend
            %span.input-group-text.global-search-dropdown
              .nav-item.dropdown

                %span{ class: 'fa fa-search nav-link.dropdown-toggle search-options',
                       'aria-expanded': 'true',
                       'data-toggle': 'dropdown' }

                %ul.dropdown-menu{ 'aria-labelledby': 'dropdownMenu1', role: 'menu' }
                  - search_scopes.each_with_index do |scope, index|
                    %li{ role: 'presentation', class: index == 0 ? 'selected-search' : '' }

                      %a.dropdown-item.search-option{ href: '#',
                                                      role: 'menuitem',
                                                      tabindex: '-1',
                                                      'data-search-scope': scope[:name]} #{scope[:description] }

          %input{ class: 'form-control input-medium global-search-autocomplete ui-autocomplete-input global_search_name',
                  'data-autocomplete': '/rad_common/global_search',
                  'data-autocomplete-fields': "{ \"global_search_scope\" : \".global_search_scope\", \"super_search\" : \".super_search\"}",
                  name: 'global_search_name',
                  placeholder: search_scopes.first[:description],
                  size: '50',
                  type: 'text',
                  autocomplete:'off' }

          .input-group-append
            %span.input-group-text

              %span{ class: 'fa fa-globe',
                     data: { toggle: 'tooltip', placement: 'top'},
                     title: 'Super search takes longer than scoped search.' }

              %input{ type: 'checkbox', name: 'super_search', class: 'super_search ml-2' }
              %input{ type: 'hidden', name: 'global_search_id', class: 'global_search_id' }
              %input{ type: 'hidden', name: 'global_search_model_name', class: 'global_search_model_name' }
              %input{ type: 'hidden', name: 'global_search_scope', class: 'global_search_scope' }
