- if user_signed_in? && current_user
  - search_scopes = GlobalSearch.new(current_user, :global_search).filtered_scopes

  - if search_scopes.any?
    = form_tag(global_search_result_path, method: :get) do
      .global-search-group
        .input-group
          .input-group-prepend
            %span.input-group-text.global-search-dropdown
              .nav-item.dropdown

                %a.nav-link.dropdown-toggle.text-dark.p-0{ 'data-toggle': 'dropdown', href: '#' }
                  %span{ class: 'fa fa-magnifying-glass search-options',
                       'aria-expanded': 'true',
                       'data-toggle': 'dropdown' }

                %ul.dropdown-menu{ 'aria-labelledby': 'dropdownMenu1', role: 'menu' }
                  - search_scopes.each_with_index do |scope, index|
                    %li{ role: 'presentation', class: index.zero? ? 'selected-search' : '' }

                      %a.dropdown-item.search-option{ href: '#',
                                                      role: 'menuitem',
                                                      tabindex: '-1',
                                                      'data-search-scope': scope[:name] }= scope[:description]

          %input{ class: %w[form-control
                            input-medium
                            global-search-autocomplete
                            ui-autocomplete-input
                            global_search_name],
                  'data-autocomplete': '/global_search',
                  'data-autocomplete-fields': "{ \"global_search_scope\" :
                                                \".global_search_scope\",
                                                \"global_search_mode\" :
                                                \".global_search_mode\",
                                                \"super_search\" : \".super_search\"}",
                  name: 'global_search_name',
                  placeholder: search_scopes.first[:description],
                  size: '50',
                  type: 'text',
                  autocomplete: 'off' }
          .input-group-append
            %span.input-group-text

              %span{ class: 'fa fa-globe',
                     data: { toggle: 'tooltip', placement: 'top' },
                     title: 'Super search takes longer than scoped search.' }

              %input.super_search.ml-2{ type: 'checkbox', name: 'super_search' }
              %input.global_search_id{ type: 'hidden', name: 'global_search_id' }
              %input.global_search_model_name{ type: 'hidden', name: 'global_search_model_name' }
              %input.global_search_scope{ type: 'hidden', name: 'global_search_scope' }
              %input.global_search_mode{ type: 'hidden', name: 'global_search_mode', value: 'global_search' }
