- unless onboarded?
  - onboarding = Onboarding.new(current_user)

  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle{ 'data-bs-toggle': 'dropdown', href: '#' }
      %span.badge.bg-danger.bg-opacity-75
        Setup Incomplete, Click Here To Finish
        %i.fa.fa-triangle-exclamation
    %ul.dropdown-menu
      %li= link_to onboarding.next_step.label, onboarding.next_step.path, class: 'dropdown-item'
