.row
  .col-lg-12
    .d-flex
      .d-flex
        .me-2= paginate paged_results, theme: 'bootstrap-5'
      .d-flex
        = f.input :page_size, collection: page_size_options, selected: search.page_size_param, label: false
