- if policy(record).reset_duplicates?
  .row
    .col-lg-12
      .pull-right
        - confirm_message = 'This will reset non-duplicates and regenerate possible matches for this record, proceed?'

        = link_to 'Reset Duplicates',
                  path,
                  method: :put,
                  data: { confirm: confirm_message }
