- data_columns_presenter(local_assigns) do |data_columns|
  .row
    - data_columns.columns.each do |column|
      %div{ class: data_columns.column_class }
        %dl.dl-horizontal
          - column.each do |item|
            %dt= data_columns.item_label(item)
            %dd= data_columns.item_value(item)
