!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    = wicked_pdf_javascript_pack_tag 'application'
    = wicked_pdf_stylesheet_pack_tag 'application'

  %body.wicked-report-pdf= yield
